# Coletando dados de expectativas de mercado: Boletim Focus
---

# Descrição

Coletando dados de expectativas de mercado sobre as quatro variáveis macroeconômicas observadas no Boletim Focus do Banco Central do Brasil.

Links de suporte:

- https://analisemacro.com.br/economia/indicadores/como-coletar-dados-do-boletim-focus-com-o-python/

# Bibliotecas

In [22]:
import pandas as pd
import numpy as np
import datetime as dt

from functools import reduce

from bcb import Expectativas

# Coleta: mediana geral

In [2]:
em = Expectativas()
em.describe()

EntitySets:
  ExpectativasMercadoTop5Anuais
  ExpectativasMercadoInstituicoes
  ExpectativaMercadoMensais
  ExpectativasMercadoInflacao12Meses
  ExpectativasMercadoSelic
  ExpectativasMercadoTop5Selic
  ExpectativasMercadoTop5Mensais
  ExpectativasMercadoTrimestrais
  ExpectativasMercadoAnuais

In [3]:
em.describe('ExpectativaMercadoMensais')

EntitySet (Endpoint): ExpectativaMercadoMensais
EntityType: br.gov.bcb.olinda.servico.Expectativas.ExpectativaMercadoMensal
Properties: Indicador<str>, Data<str>, DataReferencia<str>, Media<float>, Mediana<float>, DesvioPadrao<float>, Minimo<float>, Maximo<float>, numeroRespondentes<int>, baseCalculo<int>

In [6]:
# End point
ep = em.get_endpoint('ExpectativasMercadoAnuais')

# Dados do IPCA

ipca_expec = ( ep.query()
 .filter(ep.Indicador == 'IPCA')
 .filter(ep.Data > '2001-12-31')
 .filter(ep.baseCalculo == '0')
 .select(ep.Indicador, ep.Data, ep.Mediana, ep.DataReferencia)
 .collect()
  )

# Formata a coluna de Data para formato datetime

ipca_expec['Data'] = pd.to_datetime(ipca_expec['Data'], format = '%Y-%m-%d')
ipca_expec['DataReferencia'] = pd.to_datetime(ipca_expec['DataReferencia'], format = '%Y-%m-%d')

# Selecionando as expectativas para o ano corrente

ipca_expec = ipca_expec[ipca_expec.Data.dt.year == ipca_expec.DataReferencia.dt.year]
ipca_expec.drop(['Indicador', 'DataReferencia'], axis = 1, inplace = True)

# Filtrando dados dos finais de perído da uma frequência diária

ipca_expec.set_index('Data', inplace = True)
ipca_expec = ipca_expec.resample('M').last()
ipca_expec.drop(ipca_expec.tail(1).index, inplace = True)

# Corrigindo datas e extraindo o DataFrame final

ipca_expec['Date'] = pd.date_range(start = '2002-01-01', end = '2022-09-01', freq='MS')
ipca_expec.reset_index(inplace = True)
ipca_expec.set_index('Date', inplace = True)
ipca_expec.drop('Data', axis = 1, inplace = True)
ipca_expec.columns = ['expec_ipca']
ipca_expec

            expec_ipca
Date
2002-01-01      4.8000
2002-02-01      4.8700
2002-03-01      5.0400
2002-04-01      5.4600
2002-05-01      5.4600
...                ...
2022-05-01      8.7936
2022-06-01      8.0733
2022-07-01      7.1517
2022-08-01      6.6661
2022-09-01      5.7427

[249 rows x 1 columns]

In [9]:
# End point
ep = em.get_endpoint('ExpectativasMercadoAnuais')

# Dados do IPCA

gdp_expec = ( ep.query()
 .filter(ep.Indicador == 'PIB Total')
 .filter(ep.Data > '2001-12-31')
 .filter(ep.baseCalculo == '0')
 .select(ep.Indicador, ep.Data, ep.Mediana, ep.DataReferencia)
 .collect()
  )

# Formata a coluna de Data para formato datetime

gdp_expec['Data'] = pd.to_datetime(gdp_expec['Data'], format = '%Y-%m-%d')
gdp_expec['DataReferencia'] = pd.to_datetime(gdp_expec['DataReferencia'], format = '%Y-%m-%d')

# Selecionando as expectativas para o ano corrente

gdp_expec = gdp_expec[gdp_expec.Data.dt.year == gdp_expec.DataReferencia.dt.year]
gdp_expec.drop(['Indicador', 'DataReferencia'], axis = 1, inplace = True)

# Filtrando dados dos finais de perído da uma frequência diária

gdp_expec.set_index('Data', inplace = True)
gdp_expec = gdp_expec.resample('M').last()
gdp_expec.drop(gdp_expec.tail(1).index, inplace = True)

# Corrigindo datas e extraindo o DataFrame final

gdp_expec['Date'] = pd.date_range(start = '2002-01-01', end = '2022-09-01', freq='MS')
gdp_expec.reset_index(inplace = True)
gdp_expec.set_index('Date', inplace = True)
gdp_expec.drop('Data', axis = 1, inplace = True)
gdp_expec.columns = ['expec_gdp']
gdp_expec

            expec_gdp
Date
2002-01-01     2.4000
2002-02-01     2.4500
2002-03-01     2.4200
2002-04-01     2.4000
2002-05-01     2.3000
...               ...
2022-05-01     1.1885
2022-06-01     1.5074
2022-07-01     1.9717
2022-08-01     2.0959
2022-09-01     2.7000

[249 rows x 1 columns]

In [11]:
# End point
ep = em.get_endpoint('ExpectativasMercadoAnuais')

# Dados do IPCA

selic_expec = ( ep.query()
 .filter(ep.Indicador == 'Selic')
 .filter(ep.Data > '2001-12-31')
 .filter(ep.baseCalculo == '0')
 .select(ep.Indicador, ep.Data, ep.Mediana, ep.DataReferencia)
 .collect()
  )

# Formata a coluna de Data para formato datetime

selic_expec['Data'] = pd.to_datetime(selic_expec['Data'], format = '%Y-%m-%d')
selic_expec['DataReferencia'] = pd.to_datetime(selic_expec['DataReferencia'], format = '%Y-%m-%d')

# Selecionando as expectativas para o ano corrente

selic_expec = selic_expec[selic_expec.Data.dt.year == selic_expec.DataReferencia.dt.year]
selic_expec.drop(['Indicador', 'DataReferencia'], axis = 1, inplace = True)

# Filtrando dados dos finais de perído da uma frequência diária

selic_expec.set_index('Data', inplace = True)
selic_expec = selic_expec.resample('M').last()
selic_expec.drop(selic_expec.tail(1).index, inplace = True)

# Corrigindo datas e extraindo o DataFrame final

selic_expec['Date'] = pd.date_range(start = '2002-01-01', end = '2022-09-01', freq='MS')
selic_expec.reset_index(inplace = True)
selic_expec.set_index('Date', inplace = True)
selic_expec.drop('Data', axis = 1, inplace = True)
selic_expec.columns = ['expec_selic']
selic_expec

            expec_selic
Date
2002-01-01        17.00
2002-02-01        16.53
2002-03-01        16.50
2002-04-01        16.60
2002-05-01        17.00
...                 ...
2022-05-01        13.25
2022-06-01        13.75
2022-07-01        13.75
2022-08-01        13.75
2022-09-01        13.75

[249 rows x 1 columns]

In [14]:
# End point
ep = em.get_endpoint('ExpectativasMercadoAnuais')

# Dados do IPCA

cambio_expec = ( ep.query()
 .filter(ep.Indicador == 'Câmbio')
 .filter(ep.Data > '2001-12-31')
 .filter(ep.baseCalculo == '0')
 .select(ep.Indicador, ep.Data, ep.Mediana, ep.DataReferencia)
 .collect()
  )

# Formata a coluna de Data para formato datetime

cambio_expec['Data'] = pd.to_datetime(cambio_expec['Data'], format = '%Y-%m-%d')
cambio_expec['DataReferencia'] = pd.to_datetime(cambio_expec['DataReferencia'], format = '%Y-%m-%d')

# Selecionando as expectativas para o ano corrente

cambio_expec = cambio_expec[cambio_expec.Data.dt.year == cambio_expec.DataReferencia.dt.year]
cambio_expec.drop(['Indicador', 'DataReferencia'], axis = 1, inplace = True)

# Filtrando dados dos finais de perído da uma frequência diária

cambio_expec.set_index('Data', inplace = True)
cambio_expec = cambio_expec.resample('M').last()
cambio_expec.drop(cambio_expec.tail(1).index, inplace = True)

# Corrigindo datas e extraindo o DataFrame final

cambio_expec['Date'] = pd.date_range(start = '2002-01-01', end = '2022-09-01', freq='MS')
cambio_expec.reset_index(inplace = True)
cambio_expec.set_index('Date', inplace = True)
cambio_expec.drop('Data', axis = 1, inplace = True)
cambio_expec.columns = ['expec_exr_usd']
cambio_expec

            expec_exr_usd
Date
2002-01-01         2.5500
2002-02-01         2.5500
2002-03-01         2.5000
2002-04-01         2.5000
2002-05-01         2.5000
...                   ...
2022-05-01         5.0456
2022-06-01         5.0850
2022-07-01         5.2000
2022-08-01         5.2000
2022-09-01         5.2000

[249 rows x 1 columns]

# Juntando dataframes

In [25]:
dfs = [gdp_expec, ipca_expec, selic_expec, cambio_expec]
focus_data = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), dfs)
focus_data.reset_index(inplace = True)
focus_data.to_csv('focus_data.csv')
focus_data

          Date  expec_gdp  expec_ipca  expec_selic  expec_exr_usd
0   2002-01-01     2.4000      4.8000        17.00         2.5500
1   2002-02-01     2.4500      4.8700        16.53         2.5500
2   2002-03-01     2.4200      5.0400        16.50         2.5000
3   2002-04-01     2.4000      5.4600        16.60         2.5000
4   2002-05-01     2.3000      5.4600        17.00         2.5000
..         ...        ...         ...          ...            ...
244 2022-05-01     1.1885      8.7936        13.25         5.0456
245 2022-06-01     1.5074      8.0733        13.75         5.0850
246 2022-07-01     1.9717      7.1517        13.75         5.2000
247 2022-08-01     2.0959      6.6661        13.75         5.2000
248 2022-09-01     2.7000      5.7427        13.75         5.2000

[249 rows x 5 columns]