# Google Trends Data: Palavras

> Código com a transformação dos dados do Google Trends pela média de várias amostras coletadas [Medeiros & Pires (2021)] para 25 PALAVRAS específicas do Google Trends.

# Bibliotecas

In [16]:
import pandas as pd
import numpy as np
import datetime as dt

from functools import reduce

# Carregando amostras

## Crise

In [17]:
# Crise

# Amostra 1
crise1 = pd.read_csv('../gt-data-words/crise/crise-samp1.csv')
crise1.drop('Unnamed: 0', axis = 1, inplace = True)
crise1.columns = ['Date', 'crise1']
crise1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
crise1.set_index('Date', inplace = True)

# Amostra 2
crise2 = pd.read_csv('../gt-data-words/crise/crise-samp2.csv')
crise2.drop('Unnamed: 0', axis = 1, inplace = True)
crise2.columns = ['Date', 'crise2']
crise2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
crise2.set_index('Date', inplace = True)

# Amostra 3
crise3 = pd.read_csv('../gt-data-words/crise/crise-samp3.csv')
crise3.drop('Unnamed: 0', axis = 1, inplace = True)
crise3.columns = ['Date', 'crise3']
crise3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
crise3.set_index('Date', inplace = True)

# Amostra 4
crise4 = pd.read_csv('../gt-data-words/crise/crise-samp4.csv')
crise4.drop('Unnamed: 0', axis = 1, inplace = True)
crise4.columns = ['Date', 'crise4']
crise4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
crise4.set_index('Date', inplace = True)

# Amostra 5
crise5 = pd.read_csv('../gt-data-words/crise/crise-samp5.csv')
crise5.drop('Unnamed: 0', axis = 1, inplace = True)
crise5.columns = ['Date', 'crise5']
crise5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
crise5.set_index('Date', inplace = True)

# Amostra 6
crise6 = pd.read_csv('../gt-data-words/crise/crise-samp6.csv')
crise6.drop('Unnamed: 0', axis = 1, inplace = True)
crise6.columns = ['Date', 'crise6']
crise6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
crise6.set_index('Date', inplace = True)

# Amostra 7
crise7 = pd.read_csv('../gt-data-words/crise/crise-samp7.csv')
crise7.drop('Unnamed: 0', axis = 1, inplace = True)
crise7.columns = ['Date', 'crise7']
crise7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
crise7.set_index('Date', inplace = True)

# Amostra 8
crise8 = pd.read_csv('../gt-data-words/crise/crise-samp8.csv')
crise8.drop('Unnamed: 0', axis = 1, inplace = True)
crise8.columns = ['Date', 'crise8']
crise8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
crise8.set_index('Date', inplace = True)

# Juntando todas as amostras
crise_dfs = [crise1, crise2, crise3, crise4, crise5, crise6, crise7, crise8]
crise = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), crise_dfs)
crise

# Tirando a média
crise['gt_crise'] = crise[['crise1', 'crise2', 'crise3', 'crise4', 'crise5', 'crise6', 'crise7', 'crise8']].mean(axis = 1)
crise = crise['gt_crise'].copy()
crise

Date
2004-01-01    11.000
2004-02-01    23.250
2004-03-01    39.750
2004-04-01    34.625
2004-05-01    40.750
               ...
2022-05-01    39.250
2022-06-01    39.875
2022-07-01    31.500
2022-08-01    36.625
2022-09-01    38.000
Name: gt_crise, Length: 225, dtype: float64

## Desemprego

In [18]:
# Desemprego

# Amostra 1
desemp1 = pd.read_csv('../gt-data-words/desemprego/desemprego-samp1.csv')
desemp1.drop('Unnamed: 0', axis = 1, inplace = True)
desemp1.columns = ['Date', 'desemp1']
desemp1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
desemp1.set_index('Date', inplace = True)

# Amostra 2
desemp2 = pd.read_csv('../gt-data-words/desemprego/desemprego-samp2.csv')
desemp2.drop('Unnamed: 0', axis = 1, inplace = True)
desemp2.columns = ['Date', 'desemp2']
desemp2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
desemp2.set_index('Date', inplace = True)

# Amostra 3
desemp3 = pd.read_csv('../gt-data-words/desemprego/desemprego-samp3.csv')
desemp3.drop('Unnamed: 0', axis = 1, inplace = True)
desemp3.columns = ['Date', 'desemp3']
desemp3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
desemp3.set_index('Date', inplace = True)

# Amostra 4
desemp4 = pd.read_csv('../gt-data-words/desemprego/desemprego-samp4.csv')
desemp4.drop('Unnamed: 0', axis = 1, inplace = True)
desemp4.columns = ['Date', 'desemp4']
desemp4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
desemp4.set_index('Date', inplace = True)

# Amostra 5
desemp5 = pd.read_csv('../gt-data-words/desemprego/desemprego-samp5.csv')
desemp5.drop('Unnamed: 0', axis = 1, inplace = True)
desemp5.columns = ['Date', 'desemp5']
desemp5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
desemp5.set_index('Date', inplace = True)

# Amostra 6
desemp6 = pd.read_csv('../gt-data-words/desemprego/desemprego-samp6.csv')
desemp6.drop('Unnamed: 0', axis = 1, inplace = True)
desemp6.columns = ['Date', 'desemp6']
desemp6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
desemp6.set_index('Date', inplace = True)

# Amostra 7
desemp7 = pd.read_csv('../gt-data-words/desemprego/desemprego-samp7.csv')
desemp7.drop('Unnamed: 0', axis = 1, inplace = True)
desemp7.columns = ['Date', 'desemp7']
desemp7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
desemp7.set_index('Date', inplace = True)

# Amostra 8
desemp8 = pd.read_csv('../gt-data-words/desemprego/desemprego-samp8.csv')
desemp8.drop('Unnamed: 0', axis = 1, inplace = True)
desemp8.columns = ['Date', 'desemp8']
desemp8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
desemp8.set_index('Date', inplace = True)

# Juntando todas as amostras
desemp_dfs = [desemp1, desemp2, desemp3, desemp4, desemp5, desemp6, desemp7, desemp8]
desemp = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), desemp_dfs)
desemp

# Tirando a média
desemp['gt_desemprego'] = desemp[['desemp1', 'desemp2', 'desemp3', 'desemp4', 'desemp5', 'desemp6', 'desemp7', 'desemp8']].mean(axis = 1)
desemp = desemp['gt_desemprego'].copy()
desemp

Date
2004-01-01    20.125
2004-02-01    19.875
2004-03-01    32.500
2004-04-01    38.625
2004-05-01    42.500
               ...
2022-05-01    28.250
2022-06-01    29.250
2022-07-01    27.000
2022-08-01    30.250
2022-09-01    28.000
Name: gt_desemprego, Length: 225, dtype: float64

## Seguro desemprego

In [19]:
# Seguro Desemprego

# Amostra 1
segdesemp1 = pd.read_csv('../gt-data-words/seguro-desemprego/segdesemp-samp1.csv')
segdesemp1.drop('Unnamed: 0', axis = 1, inplace = True)
segdesemp1.columns = ['Date', 'segdesemp1']
segdesemp1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
segdesemp1.set_index('Date', inplace = True)

# Amostra 2
segdesemp2 = pd.read_csv('../gt-data-words/seguro-desemprego/segdesemp-samp2.csv')
segdesemp2.drop('Unnamed: 0', axis = 1, inplace = True)
segdesemp2.columns = ['Date', 'segdesemp2']
segdesemp2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
segdesemp2.set_index('Date', inplace = True)

# Amostra 3
segdesemp3 = pd.read_csv('../gt-data-words/seguro-desemprego/segdesemp-samp3.csv')
segdesemp3.drop('Unnamed: 0', axis = 1, inplace = True)
segdesemp3.columns = ['Date', 'segdesemp3']
segdesemp3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
segdesemp3.set_index('Date', inplace = True)

# Amostra 4
segdesemp4 = pd.read_csv('../gt-data-words/seguro-desemprego/segdesemp-samp4.csv')
segdesemp4.drop('Unnamed: 0', axis = 1, inplace = True)
segdesemp4.columns = ['Date', 'segdesemp4']
segdesemp4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
segdesemp4.set_index('Date', inplace = True)

# Amostra 5
segdesemp5 = pd.read_csv('../gt-data-words/seguro-desemprego/segdesemp-samp5.csv')
segdesemp5.drop('Unnamed: 0', axis = 1, inplace = True)
segdesemp5.columns = ['Date', 'segdesemp5']
segdesemp5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
segdesemp5.set_index('Date', inplace = True)

# Amostra 6
segdesemp6 = pd.read_csv('../gt-data-words/seguro-desemprego/segdesemp-samp6.csv')
segdesemp6.drop('Unnamed: 0', axis = 1, inplace = True)
segdesemp6.columns = ['Date', 'segdesemp6']
segdesemp6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
segdesemp6.set_index('Date', inplace = True)

# Amostra 7
segdesemp7 = pd.read_csv('../gt-data-words/seguro-desemprego/segdesemp-samp7.csv')
segdesemp7.drop('Unnamed: 0', axis = 1, inplace = True)
segdesemp7.columns = ['Date', 'segdesemp7']
segdesemp7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
segdesemp7.set_index('Date', inplace = True)

# Amostra 8
segdesemp8 = pd.read_csv('../gt-data-words/seguro-desemprego/segdesemp-samp8.csv')
segdesemp8.drop('Unnamed: 0', axis = 1, inplace = True)
segdesemp8.columns = ['Date', 'segdesemp8']
segdesemp8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
segdesemp8.set_index('Date', inplace = True)

# Juntando todas as amostras
segdesemp_dfs = [segdesemp1, segdesemp2, segdesemp3, segdesemp4, segdesemp5, segdesemp6, segdesemp7, segdesemp8]
segdesemp = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), segdesemp_dfs)
segdesemp

# Tirando a média
segdesemp['gt_segdesemp'] = segdesemp[['segdesemp1', 'segdesemp2', 'segdesemp3', 'segdesemp4', 'segdesemp5', 
                                        'segdesemp6', 'segdesemp7', 'segdesemp8']].mean(axis = 1)
segdesemp = segdesemp['gt_segdesemp'].copy()
segdesemp

Date
2004-01-01    14.875
2004-02-01    12.625
2004-03-01    11.250
2004-04-01    14.125
2004-05-01    11.375
               ...
2022-05-01    25.875
2022-06-01    25.375
2022-07-01    25.250
2022-08-01    26.250
2022-09-01    24.375
Name: gt_segdesemp, Length: 225, dtype: float64

## Empregos

In [20]:
# Empregos

# Amostra 1
job1 = pd.read_csv('../gt-data-words/empregos/empregos-samp1.csv')
job1.drop('Unnamed: 0', axis = 1, inplace = True)
job1.columns = ['Date', 'job1']
job1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
job1.set_index('Date', inplace = True)

# Amostra 2
job2 = pd.read_csv('../gt-data-words/empregos/empregos-samp2.csv')
job2.drop('Unnamed: 0', axis = 1, inplace = True)
job2.columns = ['Date', 'job2']
job2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
job2.set_index('Date', inplace = True)

# Amostra 3
job3 = pd.read_csv('../gt-data-words/empregos/empregos-samp3.csv')
job3.drop('Unnamed: 0', axis = 1, inplace = True)
job3.columns = ['Date', 'job3']
job3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
job3.set_index('Date', inplace = True)

# Amostra 4
job4 = pd.read_csv('../gt-data-words/empregos/empregos-samp4.csv')
job4.drop('Unnamed: 0', axis = 1, inplace = True)
job4.columns = ['Date', 'job4']
job4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
job4.set_index('Date', inplace = True)

# Amostra 5
job5 = pd.read_csv('../gt-data-words/empregos/empregos-samp5.csv')
job5.drop('Unnamed: 0', axis = 1, inplace = True)
job5.columns = ['Date', 'job5']
job5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
job5.set_index('Date', inplace = True)

# Amostra 6
job6 = pd.read_csv('../gt-data-words/empregos/empregos-samp6.csv')
job6.drop('Unnamed: 0', axis = 1, inplace = True)
job6.columns = ['Date', 'job6']
job6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
job6.set_index('Date', inplace = True)

# Amostra 7
job7 = pd.read_csv('../gt-data-words/empregos/empregos-samp7.csv')
job7.drop('Unnamed: 0', axis = 1, inplace = True)
job7.columns = ['Date', 'job7']
job7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
job7.set_index('Date', inplace = True)

# Amostra 8
job8 = pd.read_csv('../gt-data-words/empregos/empregos-samp8.csv')
job8.drop('Unnamed: 0', axis = 1, inplace = True)
job8.columns = ['Date', 'job8']
job8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
job8.set_index('Date', inplace = True)

# Juntando todas as amostras
job_dfs = [job1, job2, job3, job4, job5, job6, job7, job8]
job = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), job_dfs)
job

# Tirando a média
job['gt_empregos'] = job[['job1', 'job2', 'job3', 'job4', 'job5', 'job6', 'job7', 'job8']].mean(axis = 1)
job = job['gt_empregos'].copy()
job

Date
2004-01-01    100.000
2004-02-01     83.625
2004-03-01     75.375
2004-04-01     69.625
2004-05-01     60.375
               ...
2022-05-01     17.250
2022-06-01     16.250
2022-07-01     15.875
2022-08-01     16.750
2022-09-01     14.125
Name: gt_empregos, Length: 225, dtype: float64

## Trabalhos

In [21]:
# Trabalho

# Amostra 1
trab1 = pd.read_csv('../gt-data-words/trabalho/trabalho-samp1.csv')
trab1.drop('Unnamed: 0', axis = 1, inplace = True)
trab1.columns = ['Date', 'trab1']
trab1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
trab1.set_index('Date', inplace = True)

# Amostra 2
trab2 = pd.read_csv('../gt-data-words/trabalho/trabalho-samp2.csv')
trab2.drop('Unnamed: 0', axis = 1, inplace = True)
trab2.columns = ['Date', 'trab2']
trab2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
trab2.set_index('Date', inplace = True)

# Amostra 3
trab3 = pd.read_csv('../gt-data-words/trabalho/trabalho-samp3.csv')
trab3.drop('Unnamed: 0', axis = 1, inplace = True)
trab3.columns = ['Date', 'trab3']
trab3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
trab3.set_index('Date', inplace = True)

# Amostra 4
trab4 = pd.read_csv('../gt-data-words/trabalho/trabalho-samp4.csv')
trab4.drop('Unnamed: 0', axis = 1, inplace = True)
trab4.columns = ['Date', 'trab4']
trab4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
trab4.set_index('Date', inplace = True)

# Amostra 5
trab5 = pd.read_csv('../gt-data-words/trabalho/trabalho-samp5.csv')
trab5.drop('Unnamed: 0', axis = 1, inplace = True)
trab5.columns = ['Date', 'trab5']
trab5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
trab5.set_index('Date', inplace = True)

# Amostra 6
trab6 = pd.read_csv('../gt-data-words/trabalho/trabalho-samp6.csv')
trab6.drop('Unnamed: 0', axis = 1, inplace = True)
trab6.columns = ['Date', 'trab6']
trab6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
trab6.set_index('Date', inplace = True)

# Amostra 7
trab7 = pd.read_csv('../gt-data-words/trabalho/trabalho-samp7.csv')
trab7.drop('Unnamed: 0', axis = 1, inplace = True)
trab7.columns = ['Date', 'trab7']
trab7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
trab7.set_index('Date', inplace = True)

# Amostra 8
trab8 = pd.read_csv('../gt-data-words/trabalho/trabalho-samp8.csv')
trab8.drop('Unnamed: 0', axis = 1, inplace = True)
trab8.columns = ['Date', 'trab8']
trab8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
trab8.set_index('Date', inplace = True)

# Juntando todas as amostras
trab_dfs = [trab1, trab2, trab3, trab4, trab5, trab6, trab7, trab8]
trab = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), trab_dfs)
trab

# Tirando a média
trab['gt_trabalho'] = trab[['trab1', 'trab2', 'trab3', 'trab4', 'trab5', 'trab6', 'trab7', 'trab8']].mean(axis = 1)
trab = trab['gt_trabalho'].copy()
trab

Date
2004-01-01    49.000
2004-02-01    67.625
2004-03-01    92.250
2004-04-01    99.500
2004-05-01    96.000
               ...
2022-05-01    44.875
2022-06-01    41.375
2022-07-01    34.625
2022-08-01    42.750
2022-09-01    41.250
Name: gt_trabalho, Length: 225, dtype: float64

## FGTS

In [22]:
# FGTS

# Amostra 1
fgts1 = pd.read_csv('../gt-data-words/fgts/fgts-samp1.csv')
fgts1.drop('Unnamed: 0', axis = 1, inplace = True)
fgts1.columns = ['Date', 'fgts1']
fgts1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
fgts1.set_index('Date', inplace = True)

# Amostra 2
fgts2 = pd.read_csv('../gt-data-words/fgts/fgts-samp2.csv')
fgts2.drop('Unnamed: 0', axis = 1, inplace = True)
fgts2.columns = ['Date', 'fgts2']
fgts2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
fgts2.set_index('Date', inplace = True)

# Amostra 3
fgts3 = pd.read_csv('../gt-data-words/fgts/fgts-samp3.csv')
fgts3.drop('Unnamed: 0', axis = 1, inplace = True)
fgts3.columns = ['Date', 'fgts3']
fgts3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
fgts3.set_index('Date', inplace = True)

# Amostra 4
fgts4 = pd.read_csv('../gt-data-words/fgts/fgts-samp4.csv')
fgts4.drop('Unnamed: 0', axis = 1, inplace = True)
fgts4.columns = ['Date', 'fgts4']
fgts4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
fgts4.set_index('Date', inplace = True)

# Amostra 5
fgts5 = pd.read_csv('../gt-data-words/fgts/fgts-samp5.csv')
fgts5.drop('Unnamed: 0', axis = 1, inplace = True)
fgts5.columns = ['Date', 'fgts5']
fgts5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
fgts5.set_index('Date', inplace = True)

# Amostra 6
fgts6 = pd.read_csv('../gt-data-words/fgts/fgts-samp6.csv')
fgts6.drop('Unnamed: 0', axis = 1, inplace = True)
fgts6.columns = ['Date', 'fgts6']
fgts6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
fgts6.set_index('Date', inplace = True)

# Amostra 7
fgts7 = pd.read_csv('../gt-data-words/fgts/fgts-samp7.csv')
fgts7.drop('Unnamed: 0', axis = 1, inplace = True)
fgts7.columns = ['Date', 'fgts7']
fgts7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
fgts7.set_index('Date', inplace = True)

# Amostra 8
fgts8 = pd.read_csv('../gt-data-words/fgts/fgts-samp8.csv')
fgts8.drop('Unnamed: 0', axis = 1, inplace = True)
fgts8.columns = ['Date', 'fgts8']
fgts8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
fgts8.set_index('Date', inplace = True)

# Juntando todas as amostras
fgts_dfs = [fgts1, fgts2, fgts3, fgts4, fgts5, fgts6, fgts7, fgts8]
fgts = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), fgts_dfs)
fgts

# Tirando a média
fgts['gt_fgts'] = fgts[['fgts1', 'fgts2', 'fgts3', 'fgts4', 'fgts5', 'fgts6', 'fgts7', 'fgts8']].mean(axis = 1)
fgts = fgts['gt_fgts'].copy()
fgts

Date
2004-01-01     7.000
2004-02-01     5.375
2004-03-01     3.875
2004-04-01     4.000
2004-05-01     5.625
               ...
2022-05-01    20.000
2022-06-01    12.625
2022-07-01     9.625
2022-08-01     9.875
2022-09-01     7.000
Name: gt_fgts, Length: 225, dtype: float64

## Renda

In [23]:
# RENDA

# Amostra 1
renda1 = pd.read_csv('../gt-data-words/renda/renda-samp1.csv')
renda1.drop('Unnamed: 0', axis = 1, inplace = True)
renda1.columns = ['Date', 'renda1']
renda1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
renda1.set_index('Date', inplace = True)

# Amostra 2
renda2 = pd.read_csv('../gt-data-words/renda/renda-samp2.csv')
renda2.drop('Unnamed: 0', axis = 1, inplace = True)
renda2.columns = ['Date', 'renda2']
renda2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
renda2.set_index('Date', inplace = True)

# Amostra 3
renda3 = pd.read_csv('../gt-data-words/renda/renda-samp3.csv')
renda3.drop('Unnamed: 0', axis = 1, inplace = True)
renda3.columns = ['Date', 'renda3']
renda3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
renda3.set_index('Date', inplace = True)

# Amostra 4
renda4 = pd.read_csv('../gt-data-words/renda/renda-samp4.csv')
renda4.drop('Unnamed: 0', axis = 1, inplace = True)
renda4.columns = ['Date', 'renda4']
renda4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
renda4.set_index('Date', inplace = True)

# Amostra 5
renda5 = pd.read_csv('../gt-data-words/renda/renda-samp5.csv')
renda5.drop('Unnamed: 0', axis = 1, inplace = True)
renda5.columns = ['Date', 'renda5']
renda5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
renda5.set_index('Date', inplace = True)

# Amostra 6
renda6 = pd.read_csv('../gt-data-words/renda/renda-samp6.csv')
renda6.drop('Unnamed: 0', axis = 1, inplace = True)
renda6.columns = ['Date', 'renda6']
renda6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
renda6.set_index('Date', inplace = True)

# Amostra 7
renda7 = pd.read_csv('../gt-data-words/renda/renda-samp7.csv')
renda7.drop('Unnamed: 0', axis = 1, inplace = True)
renda7.columns = ['Date', 'renda7']
renda7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
renda7.set_index('Date', inplace = True)

# Amostra 8
renda8 = pd.read_csv('../gt-data-words/renda/renda-samp8.csv')
renda8.drop('Unnamed: 0', axis = 1, inplace = True)
renda8.columns = ['Date', 'renda8']
renda8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
renda8.set_index('Date', inplace = True)

# Juntando todas as amostras
renda_dfs = [renda1, renda2, renda3, renda4, renda5, renda6, renda7, renda8]
renda = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), renda_dfs)
renda

# Tirando a média
renda['gt_renda'] = renda[['renda1', 'renda2', 'renda3', 'renda4', 'renda5', 'renda6', 'renda7', 'renda8']].mean(axis = 1)
renda = renda['gt_renda'].copy()
renda

Date
2004-01-01    25.375
2004-02-01    34.000
2004-03-01    62.125
2004-04-01    90.000
2004-05-01    26.750
               ...
2022-05-01    89.500
2022-06-01    52.750
2022-07-01    45.750
2022-08-01    41.750
2022-09-01    32.125
Name: gt_renda, Length: 225, dtype: float64

## Salário

In [24]:
# SALÁRIO

# Amostra 1
sal1 = pd.read_csv('../gt-data-words/salario/salario-samp1.csv')
sal1.drop('Unnamed: 0', axis = 1, inplace = True)
sal1.columns = ['Date', 'sal1']
sal1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
sal1.set_index('Date', inplace = True)

# Amostra 2
sal2 = pd.read_csv('../gt-data-words/salario/salario-samp2.csv')
sal2.drop('Unnamed: 0', axis = 1, inplace = True)
sal2.columns = ['Date', 'sal2']
sal2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
sal2.set_index('Date', inplace = True)

# Amostra 3
sal3 = pd.read_csv('../gt-data-words/salario/salario-samp3.csv')
sal3.drop('Unnamed: 0', axis = 1, inplace = True)
sal3.columns = ['Date', 'sal3']
sal3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
sal3.set_index('Date', inplace = True)

# Amostra 4
sal4 = pd.read_csv('../gt-data-words/salario/salario-samp4.csv')
sal4.drop('Unnamed: 0', axis = 1, inplace = True)
sal4.columns = ['Date', 'sal4']
sal4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
sal4.set_index('Date', inplace = True)

# Amostra 5
sal5 = pd.read_csv('../gt-data-words/salario/salario-samp5.csv')
sal5.drop('Unnamed: 0', axis = 1, inplace = True)
sal5.columns = ['Date', 'sal5']
sal5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
sal5.set_index('Date', inplace = True)

# Amostra 6
sal6 = pd.read_csv('../gt-data-words/salario/salario-samp6.csv')
sal6.drop('Unnamed: 0', axis = 1, inplace = True)
sal6.columns = ['Date', 'sal6']
sal6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
sal6.set_index('Date', inplace = True)

# Amostra 7
sal7 = pd.read_csv('../gt-data-words/salario/salario-samp7.csv')
sal7.drop('Unnamed: 0', axis = 1, inplace = True)
sal7.columns = ['Date', 'sal7']
sal7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
sal7.set_index('Date', inplace = True)

# Amostra 8
sal8 = pd.read_csv('../gt-data-words/salario/salario-samp8.csv')
sal8.drop('Unnamed: 0', axis = 1, inplace = True)
sal8.columns = ['Date', 'sal8']
sal8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
sal8.set_index('Date', inplace = True)

# Juntando todas as amostras
sal_dfs = [sal1, sal2, sal3, sal4, sal5, sal6, sal7, sal8]
sal = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), sal_dfs)
sal

# Tirando a média
sal['gt_salario'] = sal[['sal1', 'sal2', 'sal3', 'sal4', 'sal5', 'sal6', 'sal7', 'sal8']].mean(axis = 1)
sal = sal['gt_salario'].copy()
sal

Date
2004-01-01    17.250
2004-02-01    18.125
2004-03-01    15.875
2004-04-01    24.500
2004-05-01    28.750
               ...
2022-05-01    68.250
2022-06-01    62.625
2022-07-01    66.500
2022-08-01    67.500
2022-09-01    63.625
Name: gt_salario, Length: 225, dtype: float64

## Economia

In [25]:
# ECONOMIA

# Amostra 1
eco1 = pd.read_csv('../gt-data-words/economia/econ-samp1.csv')
eco1.drop('Unnamed: 0', axis = 1, inplace = True)
eco1.columns = ['Date', 'eco1']
eco1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
eco1.set_index('Date', inplace = True)

# Amostra 2
eco2 = pd.read_csv('../gt-data-words/economia/econ-samp2.csv')
eco2.drop('Unnamed: 0', axis = 1, inplace = True)
eco2.columns = ['Date', 'eco2']
eco2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
eco2.set_index('Date', inplace = True)

# Amostra 3
eco3 = pd.read_csv('../gt-data-words/economia/econ-samp3.csv')
eco3.drop('Unnamed: 0', axis = 1, inplace = True)
eco3.columns = ['Date', 'eco3']
eco3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
eco3.set_index('Date', inplace = True)

# Amostra 4
eco4 = pd.read_csv('../gt-data-words/economia/econ-samp4.csv')
eco4.drop('Unnamed: 0', axis = 1, inplace = True)
eco4.columns = ['Date', 'eco4']
eco4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
eco4.set_index('Date', inplace = True)

# Amostra 5
eco5 = pd.read_csv('../gt-data-words/economia/econ-samp5.csv')
eco5.drop('Unnamed: 0', axis = 1, inplace = True)
eco5.columns = ['Date', 'eco5']
eco5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
eco5.set_index('Date', inplace = True)

# Amostra 6
eco6 = pd.read_csv('../gt-data-words/economia/econ-samp6.csv')
eco6.drop('Unnamed: 0', axis = 1, inplace = True)
eco6.columns = ['Date', 'eco6']
eco6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
eco6.set_index('Date', inplace = True)

# Amostra 7
eco7 = pd.read_csv('../gt-data-words/economia/econ-samp7.csv')
eco7.drop('Unnamed: 0', axis = 1, inplace = True)
eco7.columns = ['Date', 'eco7']
eco7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
eco7.set_index('Date', inplace = True)

# Amostra 8
eco8 = pd.read_csv('../gt-data-words/economia/econ-samp8.csv')
eco8.drop('Unnamed: 0', axis = 1, inplace = True)
eco8.columns = ['Date', 'eco8']
eco8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
eco8.set_index('Date', inplace = True)

# Juntando todas as amostras
eco_dfs = [eco1, eco2, eco3, eco4, eco5, eco6, eco7, eco8]
eco = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), eco_dfs)
eco

# Tirando a média
eco['gt_economia'] = eco[['eco1', 'eco2', 'eco3', 'eco4', 'eco5', 'eco6', 'eco7', 'eco8']].mean(axis = 1)
eco = eco['gt_economia'].copy()
eco

Date
2004-01-01     42.750
2004-02-01     55.750
2004-03-01     93.875
2004-04-01     83.500
2004-05-01    100.000
               ...
2022-05-01     26.625
2022-06-01     25.750
2022-07-01     18.000
2022-08-01     27.250
2022-09-01     27.250
Name: gt_economia, Length: 225, dtype: float64

## Crescimento PIB

In [26]:
# CRESCIMENTO PIB

# Amostra 1
growth1 = pd.read_csv('../gt-data-words/crescimento-pib/growth-samp1.csv')
growth1.drop('Unnamed: 0', axis = 1, inplace = True)
growth1.columns = ['Date', 'growth1']
growth1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
growth1.set_index('Date', inplace = True)

# Amostra 2
growth2 = pd.read_csv('../gt-data-words/crescimento-pib/growth-samp2.csv')
growth2.drop('Unnamed: 0', axis = 1, inplace = True)
growth2.columns = ['Date', 'growth2']
growth2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
growth2.set_index('Date', inplace = True)

# Amostra 3
growth3 = pd.read_csv('../gt-data-words/crescimento-pib/growth-samp3.csv')
growth3.drop('Unnamed: 0', axis = 1, inplace = True)
growth3.columns = ['Date', 'growth3']
growth3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
growth3.set_index('Date', inplace = True)

# Amostra 4
growth4 = pd.read_csv('../gt-data-words/crescimento-pib/growth-samp4.csv')
growth4.drop('Unnamed: 0', axis = 1, inplace = True)
growth4.columns = ['Date', 'growth4']
growth4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
growth4.set_index('Date', inplace = True)

# Amostra 5
growth5 = pd.read_csv('../gt-data-words/crescimento-pib/growth-samp5.csv')
growth5.drop('Unnamed: 0', axis = 1, inplace = True)
growth5.columns = ['Date', 'growth5']
growth5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
growth5.set_index('Date', inplace = True)

# Amostra 6
growth6 = pd.read_csv('../gt-data-words/crescimento-pib/growth-samp6.csv')
growth6.drop('Unnamed: 0', axis = 1, inplace = True)
growth6.columns = ['Date', 'growth6']
growth6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
growth6.set_index('Date', inplace = True)

# Amostra 7
growth7 = pd.read_csv('../gt-data-words/crescimento-pib/growth-samp7.csv')
growth7.drop('Unnamed: 0', axis = 1, inplace = True)
growth7.columns = ['Date', 'growth7']
growth7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
growth7.set_index('Date', inplace = True)

# Amostra 8
growth8 = pd.read_csv('../gt-data-words/crescimento-pib/growth-samp8.csv')
growth8.drop('Unnamed: 0', axis = 1, inplace = True)
growth8.columns = ['Date', 'growth8']
growth8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
growth8.set_index('Date', inplace = True)

# Juntando todas as amostras
growth_dfs = [growth1, growth2, growth3, growth4, growth5, growth6, growth7, growth8]
growth = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), growth_dfs)
growth

# Tirando a média
growth['gt_cresc_pib'] = growth[['growth1', 'growth2', 'growth3', 'growth4', 'growth5', 'growth6', 'growth7', 'growth8']].mean(axis = 1)
growth = growth['gt_cresc_pib'].copy()
growth

Date
2004-01-01    41.000
2004-02-01    23.750
2004-03-01    46.500
2004-04-01    32.375
2004-05-01    26.125
               ...
2022-05-01    19.250
2022-06-01    15.875
2022-07-01    10.375
2022-08-01    16.625
2022-09-01    21.500
Name: gt_cresc_pib, Length: 225, dtype: float64

## Inflação

In [27]:
# INFLAÇÃO

# Amostra 1
inf1 = pd.read_csv('../gt-data-words/inflacao/inflacao-samp1.csv')
inf1.drop('Unnamed: 0', axis = 1, inplace = True)
inf1.columns = ['Date', 'inf1']
inf1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
inf1.set_index('Date', inplace = True)

# Amostra 2
inf2 = pd.read_csv('../gt-data-words/inflacao/inflacao-samp2.csv')
inf2.drop('Unnamed: 0', axis = 1, inplace = True)
inf2.columns = ['Date', 'inf2']
inf2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
inf2.set_index('Date', inplace = True)

# Amostra 3
inf3 = pd.read_csv('../gt-data-words/inflacao/inflacao-samp3.csv')
inf3.drop('Unnamed: 0', axis = 1, inplace = True)
inf3.columns = ['Date', 'inf3']
inf3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
inf3.set_index('Date', inplace = True)

# Amostra 4
inf4 = pd.read_csv('../gt-data-words/inflacao/inflacao-samp4.csv')
inf4.drop('Unnamed: 0', axis = 1, inplace = True)
inf4.columns = ['Date', 'inf4']
inf4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
inf4.set_index('Date', inplace = True)

# Amostra 5
inf5 = pd.read_csv('../gt-data-words/inflacao/inflacao-samp5.csv')
inf5.drop('Unnamed: 0', axis = 1, inplace = True)
inf5.columns = ['Date', 'inf5']
inf5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
inf5.set_index('Date', inplace = True)

# Amostra 6
inf6 = pd.read_csv('../gt-data-words/inflacao/inflacao-samp6.csv')
inf6.drop('Unnamed: 0', axis = 1, inplace = True)
inf6.columns = ['Date', 'inf6']
inf6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
inf6.set_index('Date', inplace = True)

# Amostra 7
inf7 = pd.read_csv('../gt-data-words/inflacao/inflacao-samp7.csv')
inf7.drop('Unnamed: 0', axis = 1, inplace = True)
inf7.columns = ['Date', 'inf7']
inf7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
inf7.set_index('Date', inplace = True)

# Amostra 8
inf8 = pd.read_csv('../gt-data-words/inflacao/inflacao-samp8.csv')
inf8.drop('Unnamed: 0', axis = 1, inplace = True)
inf8.columns = ['Date', 'inf8']
inf8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
inf8.set_index('Date', inplace = True)

# Juntando todas as amostras
inf_dfs = [inf1, inf2, inf3, inf4, inf5, inf6, inf7, inf8]
inf = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), inf_dfs)
inf

# Tirando a média
inf['gt_inflacao'] = inf[['inf1', 'inf2', 'inf3', 'inf4', 'inf5', 'inf6', 'inf7', 'inf8']].mean(axis = 1)
inf = inf['gt_inflacao'].copy()
inf

Date
2004-01-01    41.875
2004-02-01    33.250
2004-03-01    60.500
2004-04-01    70.875
2004-05-01    78.750
               ...
2022-05-01    63.500
2022-06-01    52.625
2022-07-01    51.250
2022-08-01    64.875
2022-09-01    67.000
Name: gt_inflacao, Length: 225, dtype: float64

## Juros

In [28]:
# DÍVIDAS

# Amostra 1
juros1 = pd.read_csv('../gt-data-words/juros/juros-samp1.csv')
juros1.drop('Unnamed: 0', axis = 1, inplace = True)
juros1.columns = ['Date', 'juros1']
juros1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
juros1.set_index('Date', inplace = True)

# Amostra 2
juros2 = pd.read_csv('../gt-data-words/juros/juros-samp2.csv')
juros2.drop('Unnamed: 0', axis = 1, inplace = True)
juros2.columns = ['Date', 'juros2']
juros2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
juros2.set_index('Date', inplace = True)

# Amostra 3
juros3 = pd.read_csv('../gt-data-words/juros/juros-samp3.csv')
juros3.drop('Unnamed: 0', axis = 1, inplace = True)
juros3.columns = ['Date', 'juros3']
juros3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
juros3.set_index('Date', inplace = True)

# Amostra 4
juros4 = pd.read_csv('../gt-data-words/juros/juros-samp4.csv')
juros4.drop('Unnamed: 0', axis = 1, inplace = True)
juros4.columns = ['Date', 'juros4']
juros4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
juros4.set_index('Date', inplace = True)

# Amostra 5
juros5 = pd.read_csv('../gt-data-words/juros/juros-samp5.csv')
juros5.drop('Unnamed: 0', axis = 1, inplace = True)
juros5.columns = ['Date', 'juros5']
juros5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
juros5.set_index('Date', inplace = True)

# Amostra 6
juros6 = pd.read_csv('../gt-data-words/juros/juros-samp6.csv')
juros6.drop('Unnamed: 0', axis = 1, inplace = True)
juros6.columns = ['Date', 'juros6']
juros6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
juros6.set_index('Date', inplace = True)

# Amostra 7
juros7 = pd.read_csv('../gt-data-words/juros/juros-samp7.csv')
juros7.drop('Unnamed: 0', axis = 1, inplace = True)
juros7.columns = ['Date', 'juros7']
juros7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
juros7.set_index('Date', inplace = True)

# Amostra 8
juros8 = pd.read_csv('../gt-data-words/juros/juros-samp8.csv')
juros8.drop('Unnamed: 0', axis = 1, inplace = True)
juros8.columns = ['Date', 'juros8']
juros8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
juros8.set_index('Date', inplace = True)

# Juntando todas as amostras
juros_dfs = [juros1, juros2, juros3, juros4, juros5, juros6, juros7, juros8]
juros = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), juros_dfs)
juros

# Tirando a média
juros['gt_juros'] = juros[['juros1', 'juros2', 'juros3', 'juros4', 'juros5', 'juros6', 'juros7', 'juros8']].mean(axis = 1)
juros = juros['gt_juros'].copy()
juros

Date
2004-01-01    58.125
2004-02-01    69.250
2004-03-01    74.125
2004-04-01    68.000
2004-05-01    79.375
               ...
2022-05-01    89.000
2022-06-01    87.250
2022-07-01    79.875
2022-08-01    91.500
2022-09-01    89.750
Name: gt_juros, Length: 225, dtype: float64

## Dívida

In [29]:
# DÍVIDA

# Amostra 1
div1 = pd.read_csv('../gt-data-words/divida/divida-samp1.csv')
div1.drop('Unnamed: 0', axis = 1, inplace = True)
div1.columns = ['Date', 'div1']
div1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
div1.set_index('Date', inplace = True)

# Amostra 2
div2 = pd.read_csv('../gt-data-words/divida/divida-samp2.csv')
div2.drop('Unnamed: 0', axis = 1, inplace = True)
div2.columns = ['Date', 'div2']
div2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
div2.set_index('Date', inplace = True)

# Amostra 3
div3 = pd.read_csv('../gt-data-words/divida/divida-samp3.csv')
div3.drop('Unnamed: 0', axis = 1, inplace = True)
div3.columns = ['Date', 'div3']
div3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
div3.set_index('Date', inplace = True)

# Amostra 4
div4 = pd.read_csv('../gt-data-words/divida/divida-samp4.csv')
div4.drop('Unnamed: 0', axis = 1, inplace = True)
div4.columns = ['Date', 'div4']
div4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
div4.set_index('Date', inplace = True)

# Amostra 5
div5 = pd.read_csv('../gt-data-words/divida/divida-samp5.csv')
div5.drop('Unnamed: 0', axis = 1, inplace = True)
div5.columns = ['Date', 'div5']
div5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
div5.set_index('Date', inplace = True)

# Amostra 6
div6 = pd.read_csv('../gt-data-words/divida/divida-samp6.csv')
div6.drop('Unnamed: 0', axis = 1, inplace = True)
div6.columns = ['Date', 'div6']
div6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
div6.set_index('Date', inplace = True)

# Amostra 7
div7 = pd.read_csv('../gt-data-words/divida/divida-samp7.csv')
div7.drop('Unnamed: 0', axis = 1, inplace = True)
div7.columns = ['Date', 'div7']
div7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
div7.set_index('Date', inplace = True)

# Amostra 8
div8 = pd.read_csv('../gt-data-words/divida/divida-samp8.csv')
div8.drop('Unnamed: 0', axis = 1, inplace = True)
div8.columns = ['Date', 'div8']
div8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
div8.set_index('Date', inplace = True)

# Juntando todas as amostras
div_dfs = [div1, div2, div3, div4, div5, div6, div7, div8]
div = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), div_dfs)
div

# Tirando a média
div['gt_divida'] = div[['div1', 'div2', 'div3', 'div4', 'div5', 'div6', 'div7', 'div8']].mean(axis = 1)
div = div['gt_divida'].copy()
div

Date
2004-01-01    31.750
2004-02-01    47.625
2004-03-01    73.750
2004-04-01    58.750
2004-05-01    60.875
               ...
2022-05-01    79.500
2022-06-01    75.875
2022-07-01    75.375
2022-08-01    80.375
2022-09-01    77.375
Name: gt_divida, Length: 225, dtype: float64

## Falência (entra no lugar de Carro)

In [30]:
# CARRO

# Amostra 1
car1 = pd.read_csv('../gt-data-words/falencia/falencia-samp1.csv')
car1.drop('Unnamed: 0', axis = 1, inplace = True)
car1.columns = ['Date', 'car1']
car1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
car1.set_index('Date', inplace = True)

# Amostra 2
car2 = pd.read_csv('../gt-data-words/falencia/falencia-samp2.csv')
car2.drop('Unnamed: 0', axis = 1, inplace = True)
car2.columns = ['Date', 'car2']
car2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
car2.set_index('Date', inplace = True)

# Amostra 3
car3 = pd.read_csv('../gt-data-words/falencia/falencia-samp3.csv')
car3.drop('Unnamed: 0', axis = 1, inplace = True)
car3.columns = ['Date', 'car3']
car3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
car3.set_index('Date', inplace = True)

# Amostra 4
car4 = pd.read_csv('../gt-data-words/falencia/falencia-samp4.csv')
car4.drop('Unnamed: 0', axis = 1, inplace = True)
car4.columns = ['Date', 'car4']
car4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
car4.set_index('Date', inplace = True)

# Amostra 5
car5 = pd.read_csv('../gt-data-words/falencia/falencia-samp5.csv')
car5.drop('Unnamed: 0', axis = 1, inplace = True)
car5.columns = ['Date', 'car5']
car5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
car5.set_index('Date', inplace = True)

# Amostra 6
car6 = pd.read_csv('../gt-data-words/falencia/falencia-samp6.csv')
car6.drop('Unnamed: 0', axis = 1, inplace = True)
car6.columns = ['Date', 'car6']
car6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
car6.set_index('Date', inplace = True)

# Amostra 7
car7 = pd.read_csv('../gt-data-words/falencia/falencia-samp7.csv')
car7.drop('Unnamed: 0', axis = 1, inplace = True)
car7.columns = ['Date', 'car7']
car7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
car7.set_index('Date', inplace = True)

# Amostra 8
car8 = pd.read_csv('../gt-data-words/falencia/falencia-samp8.csv')
car8.drop('Unnamed: 0', axis = 1, inplace = True)
car8.columns = ['Date', 'car8']
car8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
car8.set_index('Date', inplace = True)

# Juntando todas as amostras
car_dfs = [car1, car2, car3, car4, car5, car6, car7, car8]
car = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), car_dfs)
car

# Tirando a média
car['gt_falencia'] = car[['car1', 'car2', 'car3', 'car4', 'car5', 'car6', 'car7', 'car8']].mean(axis = 1)
car = car['gt_falencia'].copy()
car

Date
2004-01-01    42.875
2004-02-01    46.875
2004-03-01    75.125
2004-04-01    76.500
2004-05-01    74.375
               ...
2022-05-01    25.125
2022-06-01    24.125
2022-07-01    21.000
2022-08-01    20.375
2022-09-01    25.000
Name: gt_falencia, Length: 225, dtype: float64

## Empréstimo (entra no lugar de Celular)

In [31]:
# CELULAR 

# Amostra 1
cel1 = pd.read_csv('../gt-data-words/emprestimo/emprestimo-samp1.csv')
cel1.drop('Unnamed: 0', axis = 1, inplace = True)
cel1.columns = ['Date', 'cel1']
cel1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
cel1.set_index('Date', inplace = True)

# Amostra 2
cel2 = pd.read_csv('../gt-data-words/emprestimo/emprestimo-samp2.csv')
cel2.drop('Unnamed: 0', axis = 1, inplace = True)
cel2.columns = ['Date', 'cel2']
cel2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
cel2.set_index('Date', inplace = True)

# Amostra 3
cel3 = pd.read_csv('../gt-data-words/emprestimo/emprestimo-samp3.csv')
cel3.drop('Unnamed: 0', axis = 1, inplace = True)
cel3.columns = ['Date', 'cel3']
cel3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
cel3.set_index('Date', inplace = True)

# Amostra 4
cel4 = pd.read_csv('../gt-data-words/emprestimo/emprestimo-samp4.csv')
cel4.drop('Unnamed: 0', axis = 1, inplace = True)
cel4.columns = ['Date', 'cel4']
cel4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
cel4.set_index('Date', inplace = True)

# Amostra 5
cel5 = pd.read_csv('../gt-data-words/emprestimo/emprestimo-samp5.csv')
cel5.drop('Unnamed: 0', axis = 1, inplace = True)
cel5.columns = ['Date', 'cel5']
cel5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
cel5.set_index('Date', inplace = True)

# Amostra 6
cel6 = pd.read_csv('../gt-data-words/emprestimo/emprestimo-samp6.csv')
cel6.drop('Unnamed: 0', axis = 1, inplace = True)
cel6.columns = ['Date', 'cel6']
cel6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
cel6.set_index('Date', inplace = True)

# Amostra 7
cel7 = pd.read_csv('../gt-data-words/emprestimo/emprestimo-samp7.csv')
cel7.drop('Unnamed: 0', axis = 1, inplace = True)
cel7.columns = ['Date', 'cel7']
cel7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
cel7.set_index('Date', inplace = True)

# Amostra 8
cel8 = pd.read_csv('../gt-data-words/emprestimo/emprestimo-samp8.csv')
cel8.drop('Unnamed: 0', axis = 1, inplace = True)
cel8.columns = ['Date', 'cel8']
cel8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
cel8.set_index('Date', inplace = True)

# Juntando todas as amostras
cel_dfs = [cel1, cel2, cel3, cel4, cel5, cel6, cel7, cel8]
cel = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), cel_dfs)
cel

# Tirando a média
cel['gt_emprestimo'] = cel[['cel1', 'cel2', 'cel3', 'cel4', 'cel5', 'cel6', 'cel7', 'cel8']].mean(axis = 1)
cel = cel['gt_emprestimo'].copy()
cel

Date
2004-01-01     24.500
2004-02-01     25.625
2004-03-01     15.500
2004-04-01     10.750
2004-05-01     13.375
               ...
2022-05-01     65.875
2022-06-01     65.750
2022-07-01     85.375
2022-08-01     97.250
2022-09-01    100.000
Name: gt_emprestimo, Length: 225, dtype: float64

## Política (entra no lugar de Corrupção)

In [32]:
# CORRUPÇÃO 

# Amostra 1
cor1 = pd.read_csv('../gt-data-words/politica/politica-samp1.csv')
cor1.drop('Unnamed: 0', axis = 1, inplace = True)
cor1.columns = ['Date', 'cor1']
cor1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
cor1.set_index('Date', inplace = True)

# Amostra 2
cor2 = pd.read_csv('../gt-data-words/politica/politica-samp2.csv')
cor2.drop('Unnamed: 0', axis = 1, inplace = True)
cor2.columns = ['Date', 'cor2']
cor2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
cor2.set_index('Date', inplace = True)

# Amostra 3
cor3 = pd.read_csv('../gt-data-words/politica/politica-samp3.csv')
cor3.drop('Unnamed: 0', axis = 1, inplace = True)
cor3.columns = ['Date', 'cor3']
cor3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
cor3.set_index('Date', inplace = True)

# Amostra 4
cor4 = pd.read_csv('../gt-data-words/politica/politica-samp4.csv')
cor4.drop('Unnamed: 0', axis = 1, inplace = True)
cor4.columns = ['Date', 'cor4']
cor4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
cor4.set_index('Date', inplace = True)

# Amostra 5
cor5 = pd.read_csv('../gt-data-words/politica/politica-samp5.csv')
cor5.drop('Unnamed: 0', axis = 1, inplace = True)
cor5.columns = ['Date', 'cor5']
cor5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
cor5.set_index('Date', inplace = True)

# Amostra 6
cor6 = pd.read_csv('../gt-data-words/politica/politica-samp6.csv')
cor6.drop('Unnamed: 0', axis = 1, inplace = True)
cor6.columns = ['Date', 'cor6']
cor6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
cor6.set_index('Date', inplace = True)

# Amostra 7
cor7 = pd.read_csv('../gt-data-words/politica/politica-samp7.csv')
cor7.drop('Unnamed: 0', axis = 1, inplace = True)
cor7.columns = ['Date', 'cor7']
cor7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
cor7.set_index('Date', inplace = True)

# Amostra 8
cor8 = pd.read_csv('../gt-data-words/politica/politica-samp8.csv')
cor8.drop('Unnamed: 0', axis = 1, inplace = True)
cor8.columns = ['Date', 'cor8']
cor8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
cor8.set_index('Date', inplace = True)

# Juntando todas as amostras
cor_dfs = [cor1, cor2, cor3, cor4, cor5, cor6, cor7, cor8]
cor = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), cor_dfs)
cor

# Tirando a média
cor['gt_politica'] = cor[['cor1', 'cor2', 'cor3', 'cor4', 'cor5', 'cor6', 'cor7', 'cor8']].mean(axis = 1)
cor = cor['gt_politica'].copy()
cor

Date
2004-01-01    26.000
2004-02-01    42.250
2004-03-01    71.125
2004-04-01    79.125
2004-05-01    78.875
               ...
2022-05-01    22.250
2022-06-01    21.000
2022-07-01    17.375
2022-08-01    26.625
2022-09-01    34.375
Name: gt_politica, Length: 225, dtype: float64

## Aluguel (entra no lugar de Smartphone)

In [33]:
# SMARTPHONE 

# Amostra 1
sph1 = pd.read_csv('../gt-data-words/aluguel/aluguel-samp1.csv')
sph1.drop('Unnamed: 0', axis = 1, inplace = True)
sph1.columns = ['Date', 'sph1']
sph1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
sph1.set_index('Date', inplace = True)

# Amostra 2
sph2 = pd.read_csv('../gt-data-words/aluguel/aluguel-samp2.csv')
sph2.drop('Unnamed: 0', axis = 1, inplace = True)
sph2.columns = ['Date', 'sph2']
sph2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
sph2.set_index('Date', inplace = True)

# Amostra 3
sph3 = pd.read_csv('../gt-data-words/aluguel/aluguel-samp3.csv')
sph3.drop('Unnamed: 0', axis = 1, inplace = True)
sph3.columns = ['Date', 'sph3']
sph3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
sph3.set_index('Date', inplace = True)

# Amostra 4
sph4 = pd.read_csv('../gt-data-words/aluguel/aluguel-samp4.csv')
sph4.drop('Unnamed: 0', axis = 1, inplace = True)
sph4.columns = ['Date', 'sph4']
sph4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
sph4.set_index('Date', inplace = True)

# Amostra 5
sph5 = pd.read_csv('../gt-data-words/aluguel/aluguel-samp5.csv')
sph5.drop('Unnamed: 0', axis = 1, inplace = True)
sph5.columns = ['Date', 'sph5']
sph5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
sph5.set_index('Date', inplace = True)

# Amostra 6
sph6 = pd.read_csv('../gt-data-words/aluguel/aluguel-samp6.csv')
sph6.drop('Unnamed: 0', axis = 1, inplace = True)
sph6.columns = ['Date', 'sph6']
sph6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
sph6.set_index('Date', inplace = True)

# Amostra 7
sph7 = pd.read_csv('../gt-data-words/aluguel/aluguel-samp7.csv')
sph7.drop('Unnamed: 0', axis = 1, inplace = True)
sph7.columns = ['Date', 'sph7']
sph7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
sph7.set_index('Date', inplace = True)

# Amostra 8
sph8 = pd.read_csv('../gt-data-words/aluguel/aluguel-samp8.csv')
sph8.drop('Unnamed: 0', axis = 1, inplace = True)
sph8.columns = ['Date', 'sph8']
sph8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
sph8.set_index('Date', inplace = True)

# Juntando todas as amostras
sph_dfs = [sph1, sph2, sph3, sph4, sph5, sph6, sph7, sph8]
sph = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), sph_dfs)
sph

# Tirando a média
sph['gt_aluguel'] = sph[['sph1', 'sph2', 'sph3', 'sph4', 'sph5', 'sph6', 'sph7', 'sph8']].mean(axis = 1)
sph = sph['gt_aluguel'].copy()
sph

Date
2004-01-01    100.000
2004-02-01     73.750
2004-03-01     54.375
2004-04-01     49.750
2004-05-01     48.625
               ...
2022-05-01     66.375
2022-06-01     65.625
2022-07-01     72.000
2022-08-01     68.000
2022-09-01     65.000
Name: gt_aluguel, Length: 225, dtype: float64

## Seguro (entra no lugar de Ganhar dinheiro)

In [34]:
# GANHAR DINHEIRO 

# Amostra 1
din1 = pd.read_csv('../gt-data-words/seguro/seguro-samp1.csv')
din1.drop('Unnamed: 0', axis = 1, inplace = True)
din1.columns = ['Date', 'din1']
din1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
din1.set_index('Date', inplace = True)

# Amostra 2
din2 = pd.read_csv('../gt-data-words/seguro/seguro-samp2.csv')
din2.drop('Unnamed: 0', axis = 1, inplace = True)
din2.columns = ['Date', 'din2']
din2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
din2.set_index('Date', inplace = True)

# Amostra 3
din3 = pd.read_csv('../gt-data-words/seguro/seguro-samp3.csv')
din3.drop('Unnamed: 0', axis = 1, inplace = True)
din3.columns = ['Date', 'din3']
din3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
din3.set_index('Date', inplace = True)

# Amostra 4
din4 = pd.read_csv('../gt-data-words/seguro/seguro-samp4.csv')
din4.drop('Unnamed: 0', axis = 1, inplace = True)
din4.columns = ['Date', 'din4']
din4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
din4.set_index('Date', inplace = True)

# Amostra 5
din5 = pd.read_csv('../gt-data-words/seguro/seguro-samp5.csv')
din5.drop('Unnamed: 0', axis = 1, inplace = True)
din5.columns = ['Date', 'din5']
din5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
din5.set_index('Date', inplace = True)

# Amostra 6
din6 = pd.read_csv('../gt-data-words/seguro/seguro-samp6.csv')
din6.drop('Unnamed: 0', axis = 1, inplace = True)
din6.columns = ['Date', 'din6']
din6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
din6.set_index('Date', inplace = True)

# Amostra 7
din7 = pd.read_csv('../gt-data-words/seguro/seguro-samp7.csv')
din7.drop('Unnamed: 0', axis = 1, inplace = True)
din7.columns = ['Date', 'din7']
din7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
din7.set_index('Date', inplace = True)

# Amostra 8
din8 = pd.read_csv('../gt-data-words/seguro/seguro-samp8.csv')
din8.drop('Unnamed: 0', axis = 1, inplace = True)
din8.columns = ['Date', 'din8']
din8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
din8.set_index('Date', inplace = True)

# Juntando todas as amostras
din_dfs = [din1, din2, din3, din4, din5, din6, din7, din8]
din = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), din_dfs)
din

# Tirando a média
din['gt_seguro'] = din[['din1', 'din2', 'din3', 'din4', 'din5', 'din6', 'din7', 'din8']].mean(axis = 1)
din = din['gt_seguro'].copy()
din

Date
2004-01-01    72.125
2004-02-01    53.500
2004-03-01    41.125
2004-04-01    40.500
2004-05-01    37.000
               ...
2022-05-01    60.500
2022-06-01    62.625
2022-07-01    63.875
2022-08-01    63.750
2022-09-01    60.500
Name: gt_seguro, Length: 225, dtype: float64

## Governo (entra no lugar de Vídeo Game)

In [35]:
# VIDEO GAME

# Amostra 1
vdg1 = pd.read_csv('../gt-data-words/governo/governo-samp1.csv')
vdg1.drop('Unnamed: 0', axis = 1, inplace = True)
vdg1.columns = ['Date', 'vdg1']
vdg1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
vdg1.set_index('Date', inplace = True)

# Amostra 2
vdg2 = pd.read_csv('../gt-data-words/governo/governo-samp2.csv')
vdg2.drop('Unnamed: 0', axis = 1, inplace = True)
vdg2.columns = ['Date', 'vdg2']
vdg2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
vdg2.set_index('Date', inplace = True)

# Amostra 3
vdg3 = pd.read_csv('../gt-data-words/governo/governo-samp3.csv')
vdg3.drop('Unnamed: 0', axis = 1, inplace = True)
vdg3.columns = ['Date', 'vdg3']
vdg3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
vdg3.set_index('Date', inplace = True)

# Amostra 4
vdg4 = pd.read_csv('../gt-data-words/governo/governo-samp4.csv')
vdg4.drop('Unnamed: 0', axis = 1, inplace = True)
vdg4.columns = ['Date', 'vdg4']
vdg4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
vdg4.set_index('Date', inplace = True)

# Amostra 5
vdg5 = pd.read_csv('../gt-data-words/governo/governo-samp5.csv')
vdg5.drop('Unnamed: 0', axis = 1, inplace = True)
vdg5.columns = ['Date', 'vdg5']
vdg5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
vdg5.set_index('Date', inplace = True)

# Amostra 6
vdg6 = pd.read_csv('../gt-data-words/governo/governo-samp6.csv')
vdg6.drop('Unnamed: 0', axis = 1, inplace = True)
vdg6.columns = ['Date', 'vdg6']
vdg6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
vdg6.set_index('Date', inplace = True)

# Amostra 7
vdg7 = pd.read_csv('../gt-data-words/governo/governo-samp7.csv')
vdg7.drop('Unnamed: 0', axis = 1, inplace = True)
vdg7.columns = ['Date', 'vdg7']
vdg7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
vdg7.set_index('Date', inplace = True)

# Amostra 8
vdg8 = pd.read_csv('../gt-data-words/governo/governo-samp8.csv')
vdg8.drop('Unnamed: 0', axis = 1, inplace = True)
vdg8.columns = ['Date', 'vdg8']
vdg8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
vdg8.set_index('Date', inplace = True)

# Juntando todas as amostras
vdg_dfs = [vdg1, vdg2, vdg3, vdg4, vdg5, vdg6, vdg7, vdg8]
vdg = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), vdg_dfs)
vdg

# Tirando a média
vdg['gt_governo'] = vdg[['vdg1', 'vdg2', 'vdg3', 'vdg4', 'vdg5', 'vdg6', 'vdg7', 'vdg8']].mean(axis = 1)
vdg = vdg['gt_governo'].copy()
vdg

Date
2004-01-01     7.000
2004-02-01     5.875
2004-03-01     3.875
2004-04-01     4.000
2004-05-01     5.875
               ...
2022-05-01    20.000
2022-06-01    12.750
2022-07-01    10.000
2022-08-01    10.000
2022-09-01     7.000
Name: gt_governo, Length: 225, dtype: float64

## Viagem

In [36]:
# VIAGEM 

# Amostra 1
vgm1 = pd.read_csv('../gt-data-words/viagem/viagem-samp1.csv')
vgm1.drop('Unnamed: 0', axis = 1, inplace = True)
vgm1.columns = ['Date', 'vgm1']
vgm1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
vgm1.set_index('Date', inplace = True)

# Amostra 2
vgm2 = pd.read_csv('../gt-data-words/viagem/viagem-samp2.csv')
vgm2.drop('Unnamed: 0', axis = 1, inplace = True)
vgm2.columns = ['Date', 'vgm2']
vgm2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
vgm2.set_index('Date', inplace = True)

# Amostra 3
vgm3 = pd.read_csv('../gt-data-words/viagem/viagem-samp3.csv')
vgm3.drop('Unnamed: 0', axis = 1, inplace = True)
vgm3.columns = ['Date', 'vgm3']
vgm3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
vgm3.set_index('Date', inplace = True)

# Amostra 4
vgm4 = pd.read_csv('../gt-data-words/viagem/viagem-samp4.csv')
vgm4.drop('Unnamed: 0', axis = 1, inplace = True)
vgm4.columns = ['Date', 'vgm4']
vgm4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
vgm4.set_index('Date', inplace = True)

# Amostra 5
vgm5 = pd.read_csv('../gt-data-words/viagem/viagem-samp5.csv')
vgm5.drop('Unnamed: 0', axis = 1, inplace = True)
vgm5.columns = ['Date', 'vgm5']
vgm5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
vgm5.set_index('Date', inplace = True)

# Amostra 6
vgm6 = pd.read_csv('../gt-data-words/viagem/viagem-samp6.csv')
vgm6.drop('Unnamed: 0', axis = 1, inplace = True)
vgm6.columns = ['Date', 'vgm6']
vgm6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
vgm6.set_index('Date', inplace = True)

# Amostra 7
vgm7 = pd.read_csv('../gt-data-words/viagem/viagem-samp7.csv')
vgm7.drop('Unnamed: 0', axis = 1, inplace = True)
vgm7.columns = ['Date', 'vgm7']
vgm7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
vgm7.set_index('Date', inplace = True)

# Amostra 8
vgm8 = pd.read_csv('../gt-data-words/viagem/viagem-samp8.csv')
vgm8.drop('Unnamed: 0', axis = 1, inplace = True)
vgm8.columns = ['Date', 'vgm8']
vgm8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
vgm8.set_index('Date', inplace = True)

# Juntando todas as amostras
vgm_dfs = [vgm1, vgm2, vgm3, vgm4, vgm5, vgm6, vgm7, vgm8]
vgm = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), vgm_dfs)
vgm

# Tirando a média
vgm['gt_viagem'] = vgm[['vgm1', 'vgm2', 'vgm3', 'vgm4', 'vgm5', 'vgm6', 'vgm7', 'vgm8']].mean(axis = 1)
vgm = vgm['gt_viagem'].copy()
vgm

Date
2004-01-01    90.375
2004-02-01    69.625
2004-03-01    59.000
2004-04-01    67.500
2004-05-01    60.500
               ...
2022-05-01    76.875
2022-06-01    79.750
2022-07-01    84.625
2022-08-01    78.750
2022-09-01    75.125
Name: gt_viagem, Length: 225, dtype: float64

## Empreendedor

In [37]:
# EMPREENDEDOR 

# Amostra 1
emp1 = pd.read_csv('../gt-data-words/empreendedor/empreendedor-samp1.csv')
emp1.drop('Unnamed: 0', axis = 1, inplace = True)
emp1.columns = ['Date', 'emp1']
emp1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
emp1.set_index('Date', inplace = True)

# Amostra 2
emp2 = pd.read_csv('../gt-data-words/empreendedor/empreendedor-samp2.csv')
emp2.drop('Unnamed: 0', axis = 1, inplace = True)
emp2.columns = ['Date', 'emp2']
emp2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
emp2.set_index('Date', inplace = True)

# Amostra 3
emp3 = pd.read_csv('../gt-data-words/empreendedor/empreendedor-samp3.csv')
emp3.drop('Unnamed: 0', axis = 1, inplace = True)
emp3.columns = ['Date', 'emp3']
emp3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
emp3.set_index('Date', inplace = True)

# Amostra 4
emp4 = pd.read_csv('../gt-data-words/empreendedor/empreendedor-samp4.csv')
emp4.drop('Unnamed: 0', axis = 1, inplace = True)
emp4.columns = ['Date', 'emp4']
emp4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
emp4.set_index('Date', inplace = True)

# Amostra 5
emp5 = pd.read_csv('../gt-data-words/empreendedor/empreendedor-samp5.csv')
emp5.drop('Unnamed: 0', axis = 1, inplace = True)
emp5.columns = ['Date', 'emp5']
emp5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
emp5.set_index('Date', inplace = True)

# Amostra 6
emp6 = pd.read_csv('../gt-data-words/empreendedor/empreendedor-samp6.csv')
emp6.drop('Unnamed: 0', axis = 1, inplace = True)
emp6.columns = ['Date', 'emp6']
emp6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
emp6.set_index('Date', inplace = True)

# Amostra 7
emp7 = pd.read_csv('../gt-data-words/empreendedor/empreendedor-samp7.csv')
emp7.drop('Unnamed: 0', axis = 1, inplace = True)
emp7.columns = ['Date', 'emp7']
emp7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
emp7.set_index('Date', inplace = True)

# Amostra 8
emp8 = pd.read_csv('../gt-data-words/empreendedor/empreendedor-samp8.csv')
emp8.drop('Unnamed: 0', axis = 1, inplace = True)
emp8.columns = ['Date', 'emp8']
emp8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
emp8.set_index('Date', inplace = True)

# Juntando todas as amostras
emp_dfs = [emp1, emp2, emp3, emp4, emp5, emp6, emp7, emp8]
emp = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), emp_dfs)
emp

# Tirando a média
emp['gt_empreendedor'] = emp[['emp1', 'emp2', 'emp3', 'emp4', 'emp5', 'emp6', 'emp7', 'emp8']].mean(axis = 1)
emp = emp['gt_empreendedor'].copy()
emp

Date
2004-01-01    14.375
2004-02-01    25.375
2004-03-01    26.750
2004-04-01    30.000
2004-05-01    32.000
               ...
2022-05-01    59.000
2022-06-01    52.625
2022-07-01    47.000
2022-08-01    47.875
2022-09-01    45.875
Name: gt_empreendedor, Length: 225, dtype: float64

## Abrir Empresa

In [38]:
# ABRIR EMPRESA  

# Amostra 1
abr1 = pd.read_csv('../gt-data-words/empresa/empresa-samp1.csv')
abr1.drop('Unnamed: 0', axis = 1, inplace = True)
abr1.columns = ['Date', 'abr1']
abr1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
abr1.set_index('Date', inplace = True)

# Amostra 2
abr2 = pd.read_csv('../gt-data-words/empresa/empresa-samp2.csv')
abr2.drop('Unnamed: 0', axis = 1, inplace = True)
abr2.columns = ['Date', 'abr2']
abr2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
abr2.set_index('Date', inplace = True)

# Amostra 3
abr3 = pd.read_csv('../gt-data-words/empresa/empresa-samp3.csv')
abr3.drop('Unnamed: 0', axis = 1, inplace = True)
abr3.columns = ['Date', 'abr3']
abr3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
abr3.set_index('Date', inplace = True)

# Amostra 4
abr4 = pd.read_csv('../gt-data-words/empresa/empresa-samp4.csv')
abr4.drop('Unnamed: 0', axis = 1, inplace = True)
abr4.columns = ['Date', 'abr4']
abr4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
abr4.set_index('Date', inplace = True)

# Amostra 5
abr5 = pd.read_csv('../gt-data-words/empresa/empresa-samp5.csv')
abr5.drop('Unnamed: 0', axis = 1, inplace = True)
abr5.columns = ['Date', 'abr5']
abr5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
abr5.set_index('Date', inplace = True)

# Amostra 6
abr6 = pd.read_csv('../gt-data-words/empresa/empresa-samp6.csv')
abr6.drop('Unnamed: 0', axis = 1, inplace = True)
abr6.columns = ['Date', 'abr6']
abr6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
abr6.set_index('Date', inplace = True)

# Amostra 7
abr7 = pd.read_csv('../gt-data-words/empresa/empresa-samp7.csv')
abr7.drop('Unnamed: 0', axis = 1, inplace = True)
abr7.columns = ['Date', 'abr7']
abr7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
abr7.set_index('Date', inplace = True)

# Amostra 8
abr8 = pd.read_csv('../gt-data-words/empresa/empresa-samp8.csv')
abr8.drop('Unnamed: 0', axis = 1, inplace = True)
abr8.columns = ['Date', 'abr8']
abr8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
abr8.set_index('Date', inplace = True)

# Juntando todas as amostras
abr_dfs = [abr1, abr2, abr3, abr4, abr5, abr6, abr7, abr8]
abr = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), abr_dfs)
abr

# Tirando a média
abr['gt_empresa'] = abr[['abr1', 'abr2', 'abr3', 'abr4', 'abr5', 'abr6', 'abr7', 'abr8']].mean(axis = 1)
abr = abr['gt_empresa'].copy()
abr

Date
2004-01-01    79.750
2004-02-01    59.625
2004-03-01    79.375
2004-04-01    61.375
2004-05-01    55.750
               ...
2022-05-01    38.750
2022-06-01    39.125
2022-07-01    34.625
2022-08-01    37.875
2022-09-01    35.125
Name: gt_empresa, Length: 225, dtype: float64

## Crédito

In [39]:
# CRÉDITO  

# Amostra 1
cre1 = pd.read_csv('../gt-data-words/credito/credito-samp1.csv')
cre1.drop('Unnamed: 0', axis = 1, inplace = True)
cre1.columns = ['Date', 'cre1']
cre1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
cre1.set_index('Date', inplace = True)

# Amostra 2
cre2 = pd.read_csv('../gt-data-words/credito/credito-samp2.csv')
cre2.drop('Unnamed: 0', axis = 1, inplace = True)
cre2.columns = ['Date', 'cre2']
cre2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
cre2.set_index('Date', inplace = True)

# Amostra 3
cre3 = pd.read_csv('../gt-data-words/credito/credito-samp3.csv')
cre3.drop('Unnamed: 0', axis = 1, inplace = True)
cre3.columns = ['Date', 'cre3']
cre3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
cre3.set_index('Date', inplace = True)

# Amostra 4
cre4 = pd.read_csv('../gt-data-words/credito/credito-samp4.csv')
cre4.drop('Unnamed: 0', axis = 1, inplace = True)
cre4.columns = ['Date', 'cre4']
cre4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
cre4.set_index('Date', inplace = True)

# Amostra 5
cre5 = pd.read_csv('../gt-data-words/credito/credito-samp5.csv')
cre5.drop('Unnamed: 0', axis = 1, inplace = True)
cre5.columns = ['Date', 'cre5']
cre5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
cre5.set_index('Date', inplace = True)

# Amostra 6
cre6 = pd.read_csv('../gt-data-words/credito/credito-samp6.csv')
cre6.drop('Unnamed: 0', axis = 1, inplace = True)
cre6.columns = ['Date', 'cre6']
cre6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
cre6.set_index('Date', inplace = True)

# Amostra 7
cre7 = pd.read_csv('../gt-data-words/credito/credito-samp7.csv')
cre7.drop('Unnamed: 0', axis = 1, inplace = True)
cre7.columns = ['Date', 'cre7']
cre7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
cre7.set_index('Date', inplace = True)

# Amostra 8
cre8 = pd.read_csv('../gt-data-words/credito/credito-samp8.csv')
cre8.drop('Unnamed: 0', axis = 1, inplace = True)
cre8.columns = ['Date', 'cre8']
cre8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
cre8.set_index('Date', inplace = True)

# Juntando todas as amostras
cre_dfs = [cre1, cre2, cre3, cre4, cre5, cre6, cre7, cre8]
cre = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), cre_dfs)
cre

# Tirando a média
cre['gt_credito'] = cre[['cre1', 'cre2', 'cre3', 'cre4', 'cre5', 'cre6', 'cre7', 'cre8']].mean(axis = 1)
cre = cre['gt_credito'].copy()
cre

Date
2004-01-01    53.250
2004-02-01    54.625
2004-03-01    52.250
2004-04-01    48.625
2004-05-01    51.500
               ...
2022-05-01    69.875
2022-06-01    62.625
2022-07-01    67.000
2022-08-01    63.375
2022-09-01    60.750
Name: gt_credito, Length: 225, dtype: float64

## Dólar

In [40]:
# CRÉDITO  

# Amostra 1
dol1 = pd.read_csv('../gt-data-words/dolar/dolar-samp1.csv')
dol1.drop('Unnamed: 0', axis = 1, inplace = True)
dol1.columns = ['Date', 'dol1']
dol1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
dol1.set_index('Date', inplace = True)

# Amostra 2
dol2 = pd.read_csv('../gt-data-words/dolar/dolar-samp2.csv')
dol2.drop('Unnamed: 0', axis = 1, inplace = True)
dol2.columns = ['Date', 'dol2']
dol2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
dol2.set_index('Date', inplace = True)

# Amostra 3
dol3 = pd.read_csv('../gt-data-words/dolar/dolar-samp3.csv')
dol3.drop('Unnamed: 0', axis = 1, inplace = True)
dol3.columns = ['Date', 'dol3']
dol3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
dol3.set_index('Date', inplace = True)

# Amostra 4
dol4 = pd.read_csv('../gt-data-words/dolar/dolar-samp4.csv')
dol4.drop('Unnamed: 0', axis = 1, inplace = True)
dol4.columns = ['Date', 'dol4']
dol4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
dol4.set_index('Date', inplace = True)

# Amostra 5
dol5 = pd.read_csv('../gt-data-words/dolar/dolar-samp5.csv')
dol5.drop('Unnamed: 0', axis = 1, inplace = True)
dol5.columns = ['Date', 'dol5']
dol5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
dol5.set_index('Date', inplace = True)

# Amostra 6
dol6 = pd.read_csv('../gt-data-words/dolar/dolar-samp6.csv')
dol6.drop('Unnamed: 0', axis = 1, inplace = True)
dol6.columns = ['Date', 'dol6']
dol6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
dol6.set_index('Date', inplace = True)

# Amostra 7
dol7 = pd.read_csv('../gt-data-words/dolar/dolar-samp7.csv')
dol7.drop('Unnamed: 0', axis = 1, inplace = True)
dol7.columns = ['Date', 'dol7']
dol7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
dol7.set_index('Date', inplace = True)

# Amostra 8
dol8 = pd.read_csv('../gt-data-words/dolar/dolar-samp8.csv')
dol8.drop('Unnamed: 0', axis = 1, inplace = True)
dol8.columns = ['Date', 'dol8']
dol8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
dol8.set_index('Date', inplace = True)

# Juntando todas as amostras
dol_dfs = [dol1, dol2, dol3, dol4, dol5, dol6, dol7, dol8]
dol = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), dol_dfs)
dol

# Tirando a média
dol['gt_dolar'] = dol[['dol1', 'dol2', 'dol3', 'dol4', 'dol5', 'dol6', 'dol7', 'dol8']].mean(axis = 1)
dol = dol['gt_dolar'].copy()
dol

Date
2004-01-01     9.125
2004-02-01     7.125
2004-03-01     8.375
2004-04-01     8.000
2004-05-01    10.000
               ...
2022-05-01    74.750
2022-06-01    65.375
2022-07-01    61.875
2022-08-01    59.125
2022-09-01    52.500
Name: gt_dolar, Length: 225, dtype: float64

## Financiamento

In [41]:
# FINANCIAMENTO  

# Amostra 1
fin1 = pd.read_csv('../gt-data-words/financiamento/finan-samp1.csv')
fin1.drop('Unnamed: 0', axis = 1, inplace = True)
fin1.columns = ['Date', 'fin1']
fin1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
fin1.set_index('Date', inplace = True)

# Amostra 2
fin2 = pd.read_csv('../gt-data-words/financiamento/finan-samp2.csv')
fin2.drop('Unnamed: 0', axis = 1, inplace = True)
fin2.columns = ['Date', 'fin2']
fin2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
fin2.set_index('Date', inplace = True)

# Amostra 3
fin3 = pd.read_csv('../gt-data-words/financiamento/finan-samp3.csv')
fin3.drop('Unnamed: 0', axis = 1, inplace = True)
fin3.columns = ['Date', 'fin3']
fin3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
fin3.set_index('Date', inplace = True)

# Amostra 4
fin4 = pd.read_csv('../gt-data-words/financiamento/finan-samp4.csv')
fin4.drop('Unnamed: 0', axis = 1, inplace = True)
fin4.columns = ['Date', 'fin4']
fin4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
fin4.set_index('Date', inplace = True)

# Amostra 5
fin5 = pd.read_csv('../gt-data-words/financiamento/finan-samp5.csv')
fin5.drop('Unnamed: 0', axis = 1, inplace = True)
fin5.columns = ['Date', 'fin5']
fin5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
fin5.set_index('Date', inplace = True)

# Amostra 6
fin6 = pd.read_csv('../gt-data-words/financiamento/finan-samp6.csv')
fin6.drop('Unnamed: 0', axis = 1, inplace = True)
fin6.columns = ['Date', 'fin6']
fin6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
fin6.set_index('Date', inplace = True)

# Amostra 7
fin7 = pd.read_csv('../gt-data-words/financiamento/finan-samp7.csv')
fin7.drop('Unnamed: 0', axis = 1, inplace = True)
fin7.columns = ['Date', 'fin7']
fin7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
fin7.set_index('Date', inplace = True)

# Amostra 8
fin8 = pd.read_csv('../gt-data-words/financiamento/finan-samp8.csv')
fin8.drop('Unnamed: 0', axis = 1, inplace = True)
fin8.columns = ['Date', 'fin8']
fin8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
fin8.set_index('Date', inplace = True)

# Juntando todas as amostras
fin_dfs = [fin1, fin2, fin3, fin4, fin5, fin6, fin7, fin8]
fin = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), fin_dfs)
fin

# Tirando a média
fin['gt_financiamento'] = fin[['fin1', 'fin2', 'fin3', 'fin4', 'fin5', 'fin6', 'fin7', 'fin8']].mean(axis = 1)
fin = fin['gt_financiamento'].copy()
fin

Date
2004-01-01    56.500
2004-02-01    45.625
2004-03-01    44.375
2004-04-01    38.375
2004-05-01    44.250
               ...
2022-05-01    66.875
2022-06-01    64.250
2022-07-01    63.375
2022-08-01    67.875
2022-09-01    62.625
Name: gt_financiamento, Length: 225, dtype: float64

# Juntando os dfs finais

In [42]:
# Juntando todas as amostras
gt_words_dfs = [crise, desemp, segdesemp, job, trab, fgts, renda, sal, eco, growth, inf, juros, div, car,
               cel, cor, sph, din, vdg, vgm, emp, abr, cre, dol, fin]
gt_words_raw = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), gt_words_dfs)
gt_words_raw.to_csv('gt-words-raw.csv')
gt_words_raw

,gt_crise,gt_desemprego,gt_segdesemp,gt_empregos,gt_trabalho,gt_fgts,gt_renda,gt_salario,gt_economia,gt_cresc_pib,...,gt_politica,gt_aluguel,gt_seguro,gt_governo,gt_viagem,gt_empreendedor,gt_empresa,gt_credito,gt_dolar,gt_financiamento
Date,,,,,,,,,,,,,,,,,,,,,
2004-01-01,11.000,20.125,14.875,100.000,49.000,7.000,25.375,17.250,42.750,41.000,...,26.000,100.000,72.125,7.000,90.375,14.375,79.750,53.250,9.125,56.500
2004-02-01,23.250,19.875,12.625,83.625,67.625,5.375,34.000,18.125,55.750,23.750,...,42.250,73.750,53.500,5.875,69.625,25.375,59.625,54.625,7.125,45.625
2004-03-01,39.750,32.500,11.250,75.375,92.250,3.875,62.125,15.875,93.875,46.500,...,71.125,54.375,41.125,3.875,59.000,26.750,79.375,52.250,8.375,44.375
2004-04-01,34.625,38.625,14.125,69.625,99.500,4.000,90.000,24.500,83.500,32.375,...,79.125,49.750,40.500,4.000,67.500,30.000,61.375,48.625,8.000,38.375
2004-05-01,40.750,42.500,11.375,60.375,96.000,5.625,26.750,28.750,100.000,26.125,...,78.875,48.625,37.000,5.875,60.500,32.000,55.750,51.500,10.000,44.250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-01,39.250,28.250,25.875,17.250,44.875,20.000,89.500,68.250,26.625,19.250,...,22.250,66.375,60.500,20.000,76.875,59.000,38.750,69.875,74.750,66.875
2022-06-01,39.875,29.250,25.375,16.250,41.375,12.625,52.750,62.625,25.750,15.875,...,21.000,65.625,62.625,12.750,79.750,52.625,39.125,62.625,65.375,64.250
2022-07-01,31.500,27.000,25.250,15.875,34.625,9.625,45.750,66.500,18.000,10.375,...,17.375,72.000,63.875,10.000,84.625,47.000,34.625,67.000,61.875,63.375
2022-08-01,36.625,30.250,26.250,16.750,42.750,9.875,41.750,67.500,27.250,16.625,...,26.625,68.000,63.750,10.000,78.750,47.875,37.875,63.375,59.125,67.875
2022-09-01,38.000,28.000,24.375,14.125,41.250,7.000,32.125,63.625,27.250,21.500,...,34.375,65.000,60.500,7.000,75.125,45.875,35.125,60.750,52.500,62.625