# Google Trends Data: Categories

> Código com a transformação dos dados do Google Trends pela média de várias amostras coletadas [Medeiros & Pires (2021)] para as 25 CATEGORIAS principais dos Google Trends.

# Bibliotecas

In [34]:
import pandas as pd
import numpy as np
import datetime as dt

from functools import reduce

# Carregando amostras

## Artes e entretenimento

In [35]:
# Artes e Entretenimento

# Amostra 1
arts1 = pd.read_csv('../gt-data/arts-ent/arts-samp1.csv')
arts1.drop('Unnamed: 0', axis = 1, inplace = True)
arts1.columns = ['Date', 'arts1']
arts1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
arts1.set_index('Date', inplace = True)

# Amostra 2
arts2 = pd.read_csv('../gt-data/arts-ent/arts-samp2.csv')
arts2.drop('Unnamed: 0', axis = 1, inplace = True)
arts2.columns = ['Date', 'arts2']
arts2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
arts2.set_index('Date', inplace = True)

# Amostra 3
arts3 = pd.read_csv('../gt-data/arts-ent/arts-samp3.csv')
arts3.drop('Unnamed: 0', axis = 1, inplace = True)
arts3.columns = ['Date', 'arts3']
arts3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
arts3.set_index('Date', inplace = True)

# Amostra 4
arts4 = pd.read_csv('../gt-data/arts-ent/arts-samp4.csv')
arts4.drop('Unnamed: 0', axis = 1, inplace = True)
arts4.columns = ['Date', 'arts4']
arts4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
arts4.set_index('Date', inplace = True)

# Amostra 5
arts5 = pd.read_csv('../gt-data/arts-ent/arts-samp5.csv')
arts5.drop('Unnamed: 0', axis = 1, inplace = True)
arts5.columns = ['Date', 'arts5']
arts5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
arts5.set_index('Date', inplace = True)

# Amostra 6
arts6 = pd.read_csv('../gt-data/arts-ent/arts-samp6.csv')
arts6.drop('Unnamed: 0', axis = 1, inplace = True)
arts6.columns = ['Date', 'arts6']
arts6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
arts6.set_index('Date', inplace = True)

# Amostra 7
arts7 = pd.read_csv('../gt-data/arts-ent/arts-samp7.csv')
arts7.drop('Unnamed: 0', axis = 1, inplace = True)
arts7.columns = ['Date', 'arts7']
arts7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
arts7.set_index('Date', inplace = True)

# Amostra 8
arts8 = pd.read_csv('../gt-data/arts-ent/arts-samp8.csv')
arts8.drop('Unnamed: 0', axis = 1, inplace = True)
arts8.columns = ['Date', 'arts8']
arts8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
arts8.set_index('Date', inplace = True)

# Juntando todas as amostras
arts_dfs = [arts1, arts2, arts3, arts4, arts5, arts6, arts7, arts8]
arts = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), arts_dfs)
arts

# Tirando a média
arts['gt_arts'] = arts[['arts1', 'arts2', 'arts3', 'arts4', 'arts5', 'arts6', 'arts7', 'arts8']].mean(axis = 1)
arts = arts['gt_arts'].copy()
arts

Date
2004-01-01    28.125
2004-02-01    27.625
2004-03-01    31.500
2004-04-01    31.750
2004-05-01    33.250
               ...
2022-05-01    53.125
2022-06-01    53.625
2022-07-01    55.625
2022-08-01    54.875
2022-09-01    54.500
Name: gt_arts, Length: 225, dtype: float64

## Livros e literatura

In [36]:
# Livros e Literatura 

# Amostra 1
books1 = pd.read_csv('../gt-data/books/books-samp1.csv')
books1.drop('Unnamed: 0', axis = 1, inplace = True)
books1.columns = ['Date', 'books1']
books1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
books1.set_index('Date', inplace = True)

# Amostra 2
books2 = pd.read_csv('../gt-data/books/books-samp2.csv')
books2.drop('Unnamed: 0', axis = 1, inplace = True)
books2.columns = ['Date', 'books2']
books2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
books2.set_index('Date', inplace = True)

# Amostra 3
books3 = pd.read_csv('../gt-data/books/books-samp3.csv')
books3.drop('Unnamed: 0', axis = 1, inplace = True)
books3.columns = ['Date', 'books3']
books3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
books3.set_index('Date', inplace = True)

# Amostra 4
books4 = pd.read_csv('../gt-data/books/books-samp4.csv')
books4.drop('Unnamed: 0', axis = 1, inplace = True)
books4.columns = ['Date', 'books4']
books4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
books4.set_index('Date', inplace = True)

# Amostra 5
books5 = pd.read_csv('../gt-data/books/books-samp5.csv')
books5.drop('Unnamed: 0', axis = 1, inplace = True)
books5.columns = ['Date', 'books5']
books5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
books5.set_index('Date', inplace = True)

# Amostra 6
books6 = pd.read_csv('../gt-data/books/books-samp6.csv')
books6.drop('Unnamed: 0', axis = 1, inplace = True)
books6.columns = ['Date', 'books6']
books6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
books6.set_index('Date', inplace = True)

# Amostra 7
books7 = pd.read_csv('../gt-data/books/books-samp7.csv')
books7.drop('Unnamed: 0', axis = 1, inplace = True)
books7.columns = ['Date', 'books7']
books7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
books7.set_index('Date', inplace = True)

# Amostra 8
books8 = pd.read_csv('../gt-data/books/books-samp8.csv')
books8.drop('Unnamed: 0', axis = 1, inplace = True)
books8.columns = ['Date', 'books8']
books8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
books8.set_index('Date', inplace = True)

# Juntando todas as amostras
books_dfs = [books1, books2, books3, books4, books5, books6, books7, books8]
books = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), books_dfs)
books

# Tirando a média
books['gt_books'] = books[['books1', 'books2', 'books3', 'books4', 'books5', 'books6', 'books7', 'books8']].mean(axis = 1)
books = books['gt_books'].copy()
books

Date
2004-01-01    40.625
2004-02-01    43.875
2004-03-01    61.125
2004-04-01    60.000
2004-05-01    66.125
               ...
2022-05-01    66.250
2022-06-01    64.250
2022-07-01    59.625
2022-08-01    71.125
2022-09-01    65.500
Name: gt_books, Length: 225, dtype: float64

## Finanças

In [37]:
# Finanças

# Amostra 1
finance1 = pd.read_csv('../gt-data/finance/finance-samp1.csv')
finance1.drop('Unnamed: 0', axis = 1, inplace = True)
finance1.columns = ['Date', 'finance1']
finance1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
finance1.set_index('Date', inplace = True)

# Amostra 2
finance2 = pd.read_csv('../gt-data/finance/finance-samp2.csv')
finance2.drop('Unnamed: 0', axis = 1, inplace = True)
finance2.columns = ['Date', 'finance2']
finance2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
finance2.set_index('Date', inplace = True)

# Amostra 3
finance3 = pd.read_csv('../gt-data/finance/finance-samp3.csv')
finance3.drop('Unnamed: 0', axis = 1, inplace = True)
finance3.columns = ['Date', 'finance3']
finance3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
finance3.set_index('Date', inplace = True)

# Amostra 4
finance4 = pd.read_csv('../gt-data/finance/finance-samp4.csv')
finance4.drop('Unnamed: 0', axis = 1, inplace = True)
finance4.columns = ['Date', 'finance4']
finance4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
finance4.set_index('Date', inplace = True)

# Amostra 5
finance5 = pd.read_csv('../gt-data/finance/finance-samp5.csv')
finance5.drop('Unnamed: 0', axis = 1, inplace = True)
finance5.columns = ['Date', 'finance5']
finance5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
finance5.set_index('Date', inplace = True)

# Amostra 6
finance6 = pd.read_csv('../gt-data/finance/finance-samp6.csv')
finance6.drop('Unnamed: 0', axis = 1, inplace = True)
finance6.columns = ['Date', 'finance6']
finance6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
finance6.set_index('Date', inplace = True)

# Amostra 7
finance7 = pd.read_csv('../gt-data/finance/finance-samp7.csv')
finance7.drop('Unnamed: 0', axis = 1, inplace = True)
finance7.columns = ['Date', 'finance7']
finance7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
finance7.set_index('Date', inplace = True)

# Amostra 8
finance8 = pd.read_csv('../gt-data/finance/finance-samp8.csv')
finance8.drop('Unnamed: 0', axis = 1, inplace = True)
finance8.columns = ['Date', 'finance8']
finance8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
finance8.set_index('Date', inplace = True)

# Juntando todas as amostras
finance_dfs = [finance1, finance2, finance3, finance4, finance5, finance6, finance7, finance8]
finance = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), finance_dfs)
finance

# Tirando a média
finance['gt_finance'] = finance[['finance1', 'finance2', 'finance3', 'finance4', 'finance5', 'finance6', 'finance7', 'finance8']].mean(axis = 1)
finance = finance['gt_finance'].copy()
finance

Date
2004-01-01    22.250
2004-02-01    21.500
2004-03-01    25.250
2004-04-01    25.625
2004-05-01    25.875
               ...
2022-05-01    82.500
2022-06-01    73.750
2022-07-01    76.375
2022-08-01    78.250
2022-09-01    72.000
Name: gt_finance, Length: 225, dtype: float64

## Saúde

In [38]:
# Saúde

# Amostra 1
health1 = pd.read_csv('../gt-data/health/health-samp1.csv')
health1.drop('Unnamed: 0', axis = 1, inplace = True)
health1.columns = ['Date', 'health1']
health1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
health1.set_index('Date', inplace = True)

# Amostra 2
health2 = pd.read_csv('../gt-data/health/health-samp2.csv')
health2.drop('Unnamed: 0', axis = 1, inplace = True)
health2.columns = ['Date', 'health2']
health2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
health2.set_index('Date', inplace = True)

# Amostra 3
health3 = pd.read_csv('../gt-data/health/health-samp3.csv')
health3.drop('Unnamed: 0', axis = 1, inplace = True)
health3.columns = ['Date', 'health3']
health3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
health3.set_index('Date', inplace = True)

# Amostra 4
health4 = pd.read_csv('../gt-data/health/health-samp4.csv')
health4.drop('Unnamed: 0', axis = 1, inplace = True)
health4.columns = ['Date', 'health4']
health4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
health4.set_index('Date', inplace = True)

# Amostra 5
health5 = pd.read_csv('../gt-data/health/health-samp5.csv')
health5.drop('Unnamed: 0', axis = 1, inplace = True)
health5.columns = ['Date', 'health5']
health5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
health5.set_index('Date', inplace = True)

# Amostra 6
health6 = pd.read_csv('../gt-data/health/health-samp6.csv')
health6.drop('Unnamed: 0', axis = 1, inplace = True)
health6.columns = ['Date', 'health6']
health6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
health6.set_index('Date', inplace = True)

# Amostra 7
health7 = pd.read_csv('../gt-data/health/health-samp7.csv')
health7.drop('Unnamed: 0', axis = 1, inplace = True)
health7.columns = ['Date', 'health7']
health7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
health7.set_index('Date', inplace = True)

# Amostra 8
health8 = pd.read_csv('../gt-data/health/health-samp8.csv')
health8.drop('Unnamed: 0', axis = 1, inplace = True)
health8.columns = ['Date', 'health8']
health8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
health8.set_index('Date', inplace = True)

# Juntando todas as amostras
health_dfs = [health1, health2, health3, health4, health5, health6, health7, health8]
health = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), health_dfs)
health

# Tirando a média
health['gt_health'] = health[['health1', 'health2', 'health3', 'health4', 'health5', 'health6', 'health7', 'health8']].mean(axis = 1)
health = health['gt_health'].copy()
health

Date
2004-01-01    19.875
2004-02-01    20.500
2004-03-01    28.500
2004-04-01    29.000
2004-05-01    33.500
               ...
2022-05-01    86.375
2022-06-01    92.250
2022-07-01    91.000
2022-08-01    90.875
2022-09-01    85.250
Name: gt_health, Length: 225, dtype: float64

## Internet e telecom

In [39]:
# Internet e Telecomunicações

# Amostra 1
internet1 = pd.read_csv('../gt-data/internet/internet-samp1.csv')
internet1.drop('Unnamed: 0', axis = 1, inplace = True)
internet1.columns = ['Date', 'internet1']
internet1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
internet1.set_index('Date', inplace = True)

# Amostra 2
internet2 = pd.read_csv('../gt-data/internet/internet-samp2.csv')
internet2.drop('Unnamed: 0', axis = 1, inplace = True)
internet2.columns = ['Date', 'internet2']
internet2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
internet2.set_index('Date', inplace = True)

# Amostra 3
internet3 = pd.read_csv('../gt-data/internet/internet-samp3.csv')
internet3.drop('Unnamed: 0', axis = 1, inplace = True)
internet3.columns = ['Date', 'internet3']
internet3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
internet3.set_index('Date', inplace = True)

# Amostra 4
internet4 = pd.read_csv('../gt-data/internet/internet-samp4.csv')
internet4.drop('Unnamed: 0', axis = 1, inplace = True)
internet4.columns = ['Date', 'internet4']
internet4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
internet4.set_index('Date', inplace = True)

# Amostra 5
internet5 = pd.read_csv('../gt-data/internet/internet-samp5.csv')
internet5.drop('Unnamed: 0', axis = 1, inplace = True)
internet5.columns = ['Date', 'internet5']
internet5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
internet5.set_index('Date', inplace = True)

# Amostra 6
internet6 = pd.read_csv('../gt-data/internet/internet-samp6.csv')
internet6.drop('Unnamed: 0', axis = 1, inplace = True)
internet6.columns = ['Date', 'internet6']
internet6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
internet6.set_index('Date', inplace = True)

# Amostra 7
internet7 = pd.read_csv('../gt-data/internet/internet-samp7.csv')
internet7.drop('Unnamed: 0', axis = 1, inplace = True)
internet7.columns = ['Date', 'internet7']
internet7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
internet7.set_index('Date', inplace = True)

# Amostra 8
internet8 = pd.read_csv('../gt-data/internet/internet-samp8.csv')
internet8.drop('Unnamed: 0', axis = 1, inplace = True)
internet8.columns = ['Date', 'internet8']
internet8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
internet8.set_index('Date', inplace = True)

# Juntando todas as amostras
internet_dfs = [internet1, internet2, internet3, internet4, internet5, internet6, internet7, internet8]
internet = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), internet_dfs)
internet

# Tirando a média
internet['gt_internet'] = internet[['internet1', 'internet2', 'internet3', 'internet4', 'internet5', 'internet6', 'internet7', 'internet8']].mean(axis = 1)
internet = internet['gt_internet'].copy()
internet

Date
2004-01-01    18.625
2004-02-01    16.125
2004-03-01    18.875
2004-04-01    19.125
2004-05-01    21.750
               ...
2022-05-01    46.625
2022-06-01    47.250
2022-07-01    48.000
2022-08-01    50.000
2022-09-01    47.125
Name: gt_internet, Length: 225, dtype: float64

## Notícias

In [40]:
# Notícias

# Amostra 1
news1 = pd.read_csv('../gt-data/news/news-samp1.csv')
news1.drop('Unnamed: 0', axis = 1, inplace = True)
news1.columns = ['Date', 'news1']
news1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
news1.set_index('Date', inplace = True)

# Amostra 2
news2 = pd.read_csv('../gt-data/news/news-samp2.csv')
news2.drop('Unnamed: 0', axis = 1, inplace = True)
news2.columns = ['Date', 'news2']
news2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
news2.set_index('Date', inplace = True)

# Amostra 3
news3 = pd.read_csv('../gt-data/news/news-samp3.csv')
news3.drop('Unnamed: 0', axis = 1, inplace = True)
news3.columns = ['Date', 'news3']
news3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
news3.set_index('Date', inplace = True)

# Amostra 4
news4 = pd.read_csv('../gt-data/news/news-samp4.csv')
news4.drop('Unnamed: 0', axis = 1, inplace = True)
news4.columns = ['Date', 'news4']
news4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
news4.set_index('Date', inplace = True)

# Amostra 5
news5 = pd.read_csv('../gt-data/news/news-samp5.csv')
news5.drop('Unnamed: 0', axis = 1, inplace = True)
news5.columns = ['Date', 'news5']
news5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
news5.set_index('Date', inplace = True)

# Amostra 6
news6 = pd.read_csv('../gt-data/news/news-samp6.csv')
news6.drop('Unnamed: 0', axis = 1, inplace = True)
news6.columns = ['Date', 'news6']
news6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
news6.set_index('Date', inplace = True)

# Amostra 7
news7 = pd.read_csv('../gt-data/news/news-samp7.csv')
news7.drop('Unnamed: 0', axis = 1, inplace = True)
news7.columns = ['Date', 'news7']
news7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
news7.set_index('Date', inplace = True)

# Amostra 8
news8 = pd.read_csv('../gt-data/news/news-samp8.csv')
news8.drop('Unnamed: 0', axis = 1, inplace = True)
news8.columns = ['Date', 'news8']
news8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
news8.set_index('Date', inplace = True)

# Juntando todas as amostras
news_dfs = [news1, news2, news3, news4, news5, news6, news7, news8]
news = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), news_dfs)
news

# Tirando a média
news['gt_news'] = news[['news1', 'news2', 'news3', 'news4', 'news5', 'news6', 'news7', 'news8']].mean(axis = 1)
news = news['gt_news'].copy()
news

Date
2004-01-01    11.000
2004-02-01    10.750
2004-03-01    13.000
2004-04-01    12.125
2004-05-01    13.875
               ...
2022-05-01    54.625
2022-06-01    56.375
2022-07-01    50.500
2022-08-01    61.500
2022-09-01    70.625
Name: gt_news, Length: 225, dtype: float64

## Pets e Animais

In [41]:
# Pets e Animais

# Amostra 1
pets1 = pd.read_csv('../gt-data/pets/pets-samp1.csv')
pets1.drop('Unnamed: 0', axis = 1, inplace = True)
pets1.columns = ['Date', 'pets1']
pets1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
pets1.set_index('Date', inplace = True)

# Amostra 2
pets2 = pd.read_csv('../gt-data/pets/pets-samp2.csv')
pets2.drop('Unnamed: 0', axis = 1, inplace = True)
pets2.columns = ['Date', 'pets2']
pets2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
pets2.set_index('Date', inplace = True)

# Amostra 3
pets3 = pd.read_csv('../gt-data/pets/pets-samp3.csv')
pets3.drop('Unnamed: 0', axis = 1, inplace = True)
pets3.columns = ['Date', 'pets3']
pets3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
pets3.set_index('Date', inplace = True)

# Amostra 4
pets4 = pd.read_csv('../gt-data/pets/pets-samp4.csv')
pets4.drop('Unnamed: 0', axis = 1, inplace = True)
pets4.columns = ['Date', 'pets4']
pets4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
pets4.set_index('Date', inplace = True)

# Amostra 5
pets5 = pd.read_csv('../gt-data/pets/pets-samp5.csv')
pets5.drop('Unnamed: 0', axis = 1, inplace = True)
pets5.columns = ['Date', 'pets5']
pets5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
pets5.set_index('Date', inplace = True)

# Amostra 6
pets6 = pd.read_csv('../gt-data/pets/pets-samp6.csv')
pets6.drop('Unnamed: 0', axis = 1, inplace = True)
pets6.columns = ['Date', 'pets6']
pets6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
pets6.set_index('Date', inplace = True)

# Amostra 7
pets7 = pd.read_csv('../gt-data/pets/pets-samp7.csv')
pets7.drop('Unnamed: 0', axis = 1, inplace = True)
pets7.columns = ['Date', 'pets7']
pets7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
pets7.set_index('Date', inplace = True)

# Amostra 8
pets8 = pd.read_csv('../gt-data/pets/pets-samp8.csv')
pets8.drop('Unnamed: 0', axis = 1, inplace = True)
pets8.columns = ['Date', 'pets8']
pets8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
pets8.set_index('Date', inplace = True)

# Juntando todas as amostras
pets_dfs = [pets1, pets2, pets3, pets4, pets5, pets6, pets7, pets8]
pets = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), pets_dfs)
pets

# Tirando a média
pets['gt_pets'] = pets[['pets1', 'pets2', 'pets3', 'pets4', 'pets5', 'pets6', 'pets7', 'pets8']].mean(axis = 1)
pets = pets['gt_pets'].copy()
pets

Date
2004-01-01    21.500
2004-02-01    21.625
2004-03-01    27.250
2004-04-01    25.750
2004-05-01    28.875
               ...
2022-05-01    73.000
2022-06-01    75.750
2022-07-01    79.500
2022-08-01    78.125
2022-09-01    76.375
Name: gt_pets, Length: 225, dtype: float64

## Ciência

In [42]:
# Ciência

# Amostra 1
science1 = pd.read_csv('../gt-data/science/science-samp1.csv')
science1.drop('Unnamed: 0', axis = 1, inplace = True)
science1.columns = ['Date', 'science1']
science1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
science1.set_index('Date', inplace = True)

# Amostra 2
science2 = pd.read_csv('../gt-data/science/science-samp2.csv')
science2.drop('Unnamed: 0', axis = 1, inplace = True)
science2.columns = ['Date', 'science2']
science2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
science2.set_index('Date', inplace = True)

# Amostra 3
science3 = pd.read_csv('../gt-data/science/science-samp3.csv')
science3.drop('Unnamed: 0', axis = 1, inplace = True)
science3.columns = ['Date', 'science3']
science3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
science3.set_index('Date', inplace = True)

# Amostra 4
science4 = pd.read_csv('../gt-data/science/science-samp4.csv')
science4.drop('Unnamed: 0', axis = 1, inplace = True)
science4.columns = ['Date', 'science4']
science4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
science4.set_index('Date', inplace = True)

# Amostra 5
science5 = pd.read_csv('../gt-data/science/science-samp5.csv')
science5.drop('Unnamed: 0', axis = 1, inplace = True)
science5.columns = ['Date', 'science5']
science5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
science5.set_index('Date', inplace = True)

# Amostra 6
science6 = pd.read_csv('../gt-data/science/science-samp6.csv')
science6.drop('Unnamed: 0', axis = 1, inplace = True)
science6.columns = ['Date', 'science6']
science6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
science6.set_index('Date', inplace = True)

# Amostra 7
science7 = pd.read_csv('../gt-data/science/science-samp7.csv')
science7.drop('Unnamed: 0', axis = 1, inplace = True)
science7.columns = ['Date', 'science7']
science7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
science7.set_index('Date', inplace = True)

# Amostra 8
science8 = pd.read_csv('../gt-data/science/science-samp8.csv')
science8.drop('Unnamed: 0', axis = 1, inplace = True)
science8.columns = ['Date', 'science8']
science8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
science8.set_index('Date', inplace = True)

# Juntando todas as amostras
science_dfs = [science1, science2, science3, science4, science5, science6, science7, science8]
science = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), science_dfs)
science

# Tirando a média
science['gt_science'] = science[['science1', 'science2', 'science3', 'science4', 'science5', 'science6', 'science7', 'science8']].mean(axis = 1)
science = science['gt_science'].copy()
science

Date
2004-01-01    44.875
2004-02-01    61.500
2004-03-01    93.625
2004-04-01    85.875
2004-05-01    93.000
               ...
2022-05-01    98.750
2022-06-01    93.125
2022-07-01    78.625
2022-08-01    96.125
2022-09-01    91.500
Name: gt_science, Length: 225, dtype: float64

## Viagens

In [43]:
# Viagens

# Amostra 1
travel1 = pd.read_csv('../gt-data/travel/travel-samp1.csv')
travel1.drop('Unnamed: 0', axis = 1, inplace = True)
travel1.columns = ['Date', 'travel1']
travel1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
travel1.set_index('Date', inplace = True)

# Amostra 2
travel2 = pd.read_csv('../gt-data/travel/travel-samp2.csv')
travel2.drop('Unnamed: 0', axis = 1, inplace = True)
travel2.columns = ['Date', 'travel2']
travel2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
travel2.set_index('Date', inplace = True)

# Amostra 3
travel3 = pd.read_csv('../gt-data/travel/travel-samp3.csv')
travel3.drop('Unnamed: 0', axis = 1, inplace = True)
travel3.columns = ['Date', 'travel3']
travel3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
travel3.set_index('Date', inplace = True)

# Amostra 4
travel4 = pd.read_csv('../gt-data/travel/travel-samp4.csv')
travel4.drop('Unnamed: 0', axis = 1, inplace = True)
travel4.columns = ['Date', 'travel4']
travel4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
travel4.set_index('Date', inplace = True)

# Amostra 5
travel5 = pd.read_csv('../gt-data/travel/travel-samp5.csv')
travel5.drop('Unnamed: 0', axis = 1, inplace = True)
travel5.columns = ['Date', 'travel5']
travel5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
travel5.set_index('Date', inplace = True)

# Amostra 6
travel6 = pd.read_csv('../gt-data/travel/travel-samp6.csv')
travel6.drop('Unnamed: 0', axis = 1, inplace = True)
travel6.columns = ['Date', 'travel6']
travel6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
travel6.set_index('Date', inplace = True)

# Amostra 7
travel7 = pd.read_csv('../gt-data/travel/travel-samp7.csv')
travel7.drop('Unnamed: 0', axis = 1, inplace = True)
travel7.columns = ['Date', 'travel7']
travel7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
travel7.set_index('Date', inplace = True)

# Amostra 8
travel8 = pd.read_csv('../gt-data/travel/travel-samp8.csv')
travel8.drop('Unnamed: 0', axis = 1, inplace = True)
travel8.columns = ['Date', 'travel8']
travel8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
travel8.set_index('Date', inplace = True)

# Juntando todas as amostras
travel_dfs = [travel1, travel2, travel3, travel4, travel5, travel6, travel7, travel8]
travel = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), travel_dfs)
travel

# Tirando a média
travel['gt_travel'] = travel[['travel1', 'travel2', 'travel3', 'travel4', 'travel5', 'travel6', 'travel7', 'travel8']].mean(axis = 1)
travel = travel['gt_travel'].copy()
travel

Date
2004-01-01    41.125
2004-02-01    33.500
2004-03-01    34.125
2004-04-01    34.250
2004-05-01    38.375
               ...
2022-05-01    80.375
2022-06-01    82.750
2022-07-01    87.125
2022-08-01    81.625
2022-09-01    80.875
Name: gt_travel, Length: 225, dtype: float64

## Automóveis e veículos

In [44]:
# Automóveis e Veículos

# Amostra 1
auto1 = pd.read_csv('../gt-data/auto-vehi/auto-samp1.csv')
auto1.drop('Unnamed: 0', axis = 1, inplace = True)
auto1.columns = ['Date', 'auto1']
auto1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
auto1.set_index('Date', inplace = True)

# Amostra 2
auto2 = pd.read_csv('../gt-data/auto-vehi/auto-samp2.csv')
auto2.drop('Unnamed: 0', axis = 1, inplace = True)
auto2.columns = ['Date', 'auto2']
auto2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
auto2.set_index('Date', inplace = True)

# Amostra 3
auto3 = pd.read_csv('../gt-data/auto-vehi/auto-samp3.csv')
auto3.drop('Unnamed: 0', axis = 1, inplace = True)
auto3.columns = ['Date', 'auto3']
auto3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
auto3.set_index('Date', inplace = True)

# Amostra 4
auto4 = pd.read_csv('../gt-data/auto-vehi/auto-samp4.csv')
auto4.drop('Unnamed: 0', axis = 1, inplace = True)
auto4.columns = ['Date', 'auto4']
auto4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
auto4.set_index('Date', inplace = True)

# Amostra 5
auto5 = pd.read_csv('../gt-data/auto-vehi/auto-samp5.csv')
auto5.drop('Unnamed: 0', axis = 1, inplace = True)
auto5.columns = ['Date', 'auto5']
auto5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
auto5.set_index('Date', inplace = True)

# Amostra 6
auto6 = pd.read_csv('../gt-data/auto-vehi/auto-samp6.csv')
auto6.drop('Unnamed: 0', axis = 1, inplace = True)
auto6.columns = ['Date', 'auto6']
auto6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
auto6.set_index('Date', inplace = True)

# Amostra 7
auto7 = pd.read_csv('../gt-data/auto-vehi/auto-samp7.csv')
auto7.drop('Unnamed: 0', axis = 1, inplace = True)
auto7.columns = ['Date', 'auto7']
auto7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
auto7.set_index('Date', inplace = True)

# Amostra 8
auto8 = pd.read_csv('../gt-data/auto-vehi/auto-samp8.csv')
auto8.drop('Unnamed: 0', axis = 1, inplace = True)
auto8.columns = ['Date', 'auto8']
auto8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
auto8.set_index('Date', inplace = True)

# Juntando todas as amostras
auto_dfs = [auto1, auto2, auto3, auto4, auto5, auto6, auto7, auto8]
auto = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), auto_dfs)
auto

# Tirando a média
auto['gt_auto'] = auto[['auto1', 'auto2', 'auto3', 'auto4', 'auto5', 'auto6', 'auto7', 'auto8']].mean(axis = 1)
auto = auto['gt_auto'].copy()
auto

Date
2004-01-01    32.250
2004-02-01    29.500
2004-03-01    31.250
2004-04-01    30.500
2004-05-01    33.750
               ...
2022-05-01    84.625
2022-06-01    84.250
2022-07-01    87.875
2022-08-01    85.500
2022-09-01    80.000
Name: gt_auto, Length: 225, dtype: float64

## Negócios e Indústria

In [45]:
# Negócios e Indústria 

# Amostra 1
business1 = pd.read_csv('../gt-data/business/business-samp1.csv')
business1.drop('Unnamed: 0', axis = 1, inplace = True)
business1.columns = ['Date', 'business1']
business1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
business1.set_index('Date', inplace = True)

# Amostra 2
business2 = pd.read_csv('../gt-data/business/business-samp2.csv')
business2.drop('Unnamed: 0', axis = 1, inplace = True)
business2.columns = ['Date', 'business2']
business2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
business2.set_index('Date', inplace = True)

# Amostra 3
business3 = pd.read_csv('../gt-data/business/business-samp3.csv')
business3.drop('Unnamed: 0', axis = 1, inplace = True)
business3.columns = ['Date', 'business3']
business3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
business3.set_index('Date', inplace = True)

# Amostra 4
business4 = pd.read_csv('../gt-data/business/business-samp4.csv')
business4.drop('Unnamed: 0', axis = 1, inplace = True)
business4.columns = ['Date', 'business4']
business4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
business4.set_index('Date', inplace = True)

# Amostra 5
business5 = pd.read_csv('../gt-data/business/business-samp5.csv')
business5.drop('Unnamed: 0', axis = 1, inplace = True)
business5.columns = ['Date', 'business5']
business5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
business5.set_index('Date', inplace = True)

# Amostra 6
business6 = pd.read_csv('../gt-data/business/business-samp6.csv')
business6.drop('Unnamed: 0', axis = 1, inplace = True)
business6.columns = ['Date', 'business6']
business6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
business6.set_index('Date', inplace = True)

# Amostra 7
business7 = pd.read_csv('../gt-data/business/business-samp7.csv')
business7.drop('Unnamed: 0', axis = 1, inplace = True)
business7.columns = ['Date', 'business7']
business7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
business7.set_index('Date', inplace = True)

# Amostra 8
business8 = pd.read_csv('../gt-data/business/business-samp8.csv')
business8.drop('Unnamed: 0', axis = 1, inplace = True)
business8.columns = ['Date', 'business8']
business8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
business8.set_index('Date', inplace = True)

# Juntando todas as amostras
business_dfs = [business1, business2, business3, business4, business5, business6, business7, business8]
business = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), business_dfs)
business

# Tirando a média
business['gt_business'] = business[['business1', 'business2', 'business3', 'business4', 'business5', 'business6', 'business7', 'business8']].mean(axis = 1)
business = business['gt_business'].copy()
business

Date
2004-01-01    32.875
2004-02-01    35.000
2004-03-01    46.500
2004-04-01    43.125
2004-05-01    48.750
               ...
2022-05-01    93.875
2022-06-01    90.000
2022-07-01    90.500
2022-08-01    95.375
2022-09-01    90.875
Name: gt_business, Length: 225, dtype: float64

## Comidas e Bebidas

In [46]:
# Comidas e Bebidas

# Amostra 1
food1 = pd.read_csv('../gt-data/food/foods-samp1.csv')
food1.drop('Unnamed: 0', axis = 1, inplace = True)
food1.columns = ['Date', 'food1']
food1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
food1.set_index('Date', inplace = True)

# Amostra 2
food2 = pd.read_csv('../gt-data/food/foods-samp2.csv')
food2.drop('Unnamed: 0', axis = 1, inplace = True)
food2.columns = ['Date', 'food2']
food2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
food2.set_index('Date', inplace = True)

# Amostra 3
food3 = pd.read_csv('../gt-data/food/foods-samp3.csv')
food3.drop('Unnamed: 0', axis = 1, inplace = True)
food3.columns = ['Date', 'food3']
food3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
food3.set_index('Date', inplace = True)

# Amostra 4
food4 = pd.read_csv('../gt-data/food/foods-samp4.csv')
food4.drop('Unnamed: 0', axis = 1, inplace = True)
food4.columns = ['Date', 'food4']
food4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
food4.set_index('Date', inplace = True)

# Amostra 5
food5 = pd.read_csv('../gt-data/food/foods-samp5.csv')
food5.drop('Unnamed: 0', axis = 1, inplace = True)
food5.columns = ['Date', 'food5']
food5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
food5.set_index('Date', inplace = True)

# Amostra 6
food6 = pd.read_csv('../gt-data/food/foods-samp6.csv')
food6.drop('Unnamed: 0', axis = 1, inplace = True)
food6.columns = ['Date', 'food6']
food6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
food6.set_index('Date', inplace = True)

# Amostra 7
food7 = pd.read_csv('../gt-data/food/foods-samp7.csv')
food7.drop('Unnamed: 0', axis = 1, inplace = True)
food7.columns = ['Date', 'food7']
food7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
food7.set_index('Date', inplace = True)

# Amostra 5
food8 = pd.read_csv('../gt-data/food/foods-samp8.csv')
food8.drop('Unnamed: 0', axis = 1, inplace = True)
food8.columns = ['Date', 'food8']
food8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
food8.set_index('Date', inplace = True)

# Juntando todas as amostras
food_dfs = [food1, food2, food3, food4, food5, food6, food7, food8]
food = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), food_dfs)
food

# Tirando a média
food['gt_foods'] = food[['food1', 'food2', 'food3', 'food4', 'food5', 'food6', 'food7', 'food8']].mean(axis = 1)
food = food['gt_foods'].copy()
food

Date
2004-01-01    13.625
2004-02-01    12.250
2004-03-01    15.375
2004-04-01    15.750
2004-05-01    16.625
               ...
2022-05-01    73.375
2022-06-01    78.375
2022-07-01    79.500
2022-08-01    77.250
2022-09-01    74.375
Name: gt_foods, Length: 225, dtype: float64

## Hobbies e Lazer

In [47]:
# Hobbies e Lazer

# Amostra 1
lazer1 = pd.read_csv('../gt-data/lazer/lazer-samp1.csv')
lazer1.drop('Unnamed: 0', axis = 1, inplace = True)
lazer1.columns = ['Date', 'lazer1']
lazer1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
lazer1.set_index('Date', inplace = True)

# Amostra 2
lazer2 = pd.read_csv('../gt-data/lazer/lazer-samp2.csv')
lazer2.drop('Unnamed: 0', axis = 1, inplace = True)
lazer2.columns = ['Date', 'lazer2']
lazer2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
lazer2.set_index('Date', inplace = True)

# Amostra 3
lazer3 = pd.read_csv('../gt-data/lazer/lazer-samp3.csv')
lazer3.drop('Unnamed: 0', axis = 1, inplace = True)
lazer3.columns = ['Date', 'lazer3']
lazer3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
lazer3.set_index('Date', inplace = True)

# Amostra 4
lazer4 = pd.read_csv('../gt-data/lazer/lazer-samp4.csv')
lazer4.drop('Unnamed: 0', axis = 1, inplace = True)
lazer4.columns = ['Date', 'lazer4']
lazer4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
lazer4.set_index('Date', inplace = True)

# Amostra 5
lazer5 = pd.read_csv('../gt-data/lazer/lazer-samp5.csv')
lazer5.drop('Unnamed: 0', axis = 1, inplace = True)
lazer5.columns = ['Date', 'lazer5']
lazer5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
lazer5.set_index('Date', inplace = True)

# Amostra 6
lazer6 = pd.read_csv('../gt-data/lazer/lazer-samp6.csv')
lazer6.drop('Unnamed: 0', axis = 1, inplace = True)
lazer6.columns = ['Date', 'lazer6']
lazer6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
lazer6.set_index('Date', inplace = True)

# Amostra 7
lazer7 = pd.read_csv('../gt-data/lazer/lazer-samp7.csv')
lazer7.drop('Unnamed: 0', axis = 1, inplace = True)
lazer7.columns = ['Date', 'lazer7']
lazer7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
lazer7.set_index('Date', inplace = True)

# Amostra 8
lazer8 = pd.read_csv('../gt-data/lazer/lazer-samp8.csv')
lazer8.drop('Unnamed: 0', axis = 1, inplace = True)
lazer8.columns = ['Date', 'lazer8']
lazer8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
lazer8.set_index('Date', inplace = True)

# Juntando todas as amostras
lazer_dfs = [lazer1, lazer2, lazer3, lazer4, lazer5, lazer6, lazer7, lazer8]
lazer = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), lazer_dfs)
lazer

# Tirando a média
lazer['gt_lazer'] = lazer[['lazer1', 'lazer2', 'lazer3', 'lazer4', 'lazer5', 'lazer6', 'lazer7', 'lazer8']].mean(axis = 1)
lazer = lazer['gt_lazer'].copy()
lazer

Date
2004-01-01    29.500
2004-02-01    30.250
2004-03-01    34.125
2004-04-01    34.750
2004-05-01    35.875
               ...
2022-05-01    83.375
2022-06-01    90.375
2022-07-01    86.750
2022-08-01    87.500
2022-09-01    88.000
Name: gt_lazer, Length: 225, dtype: float64

## Trabalho e Educação

In [48]:
# Trabalho e Educação

# Amostra 1
jobs1 = pd.read_csv('../gt-data/jobs/jobs-samp1.csv')
jobs1.drop('Unnamed: 0', axis = 1, inplace = True)
jobs1.columns = ['Date', 'jobs1']
jobs1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
jobs1.set_index('Date', inplace = True)

# Amostra 2
jobs2 = pd.read_csv('../gt-data/jobs/jobs-samp2.csv')
jobs2.drop('Unnamed: 0', axis = 1, inplace = True)
jobs2.columns = ['Date', 'jobs2']
jobs2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
jobs2.set_index('Date', inplace = True)

# Amostra 3
jobs3 = pd.read_csv('../gt-data/jobs/jobs-samp3.csv')
jobs3.drop('Unnamed: 0', axis = 1, inplace = True)
jobs3.columns = ['Date', 'jobs3']
jobs3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
jobs3.set_index('Date', inplace = True)

# Amostra 4
jobs4 = pd.read_csv('../gt-data/jobs/jobs-samp4.csv')
jobs4.drop('Unnamed: 0', axis = 1, inplace = True)
jobs4.columns = ['Date', 'jobs4']
jobs4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
jobs4.set_index('Date', inplace = True)

# Amostra 5
jobs5 = pd.read_csv('../gt-data/jobs/jobs-samp5.csv')
jobs5.drop('Unnamed: 0', axis = 1, inplace = True)
jobs5.columns = ['Date', 'jobs5']
jobs5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
jobs5.set_index('Date', inplace = True)

# Amostra 6
jobs6 = pd.read_csv('../gt-data/jobs/jobs-samp6.csv')
jobs6.drop('Unnamed: 0', axis = 1, inplace = True)
jobs6.columns = ['Date', 'jobs6']
jobs6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
jobs6.set_index('Date', inplace = True)

# Amostra 7
jobs7 = pd.read_csv('../gt-data/jobs/jobs-samp7.csv')
jobs7.drop('Unnamed: 0', axis = 1, inplace = True)
jobs7.columns = ['Date', 'jobs7']
jobs7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
jobs7.set_index('Date', inplace = True)

# Amostra 8
jobs8 = pd.read_csv('../gt-data/jobs/jobs-samp8.csv')
jobs8.drop('Unnamed: 0', axis = 1, inplace = True)
jobs8.columns = ['Date', 'jobs8']
jobs8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
jobs8.set_index('Date', inplace = True)

# Juntando todas as amostras
jobs_dfs = [jobs1, jobs2, jobs3, jobs4, jobs5, jobs6, jobs7, jobs8]
jobs = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), jobs_dfs)
jobs

# Tirando a média
jobs['gt_jobs'] = jobs[['jobs1', 'jobs2', 'jobs3', 'jobs4', 'jobs5', 'jobs6', 'jobs7', 'jobs8']].mean(axis = 1)
jobs = jobs['gt_jobs'].copy()
jobs

Date
2004-01-01    42.500
2004-02-01    38.875
2004-03-01    43.125
2004-04-01    39.000
2004-05-01    44.000
               ...
2022-05-01    60.125
2022-06-01    56.250
2022-07-01    53.125
2022-08-01    59.750
2022-09-01    55.375
Name: gt_jobs, Length: 225, dtype: float64

## Comunidades online

In [49]:
# Comunidades online

# Amostra 1
oncomm1 = pd.read_csv('../gt-data/oncomm/oncomm-samp1.csv')
oncomm1.drop('Unnamed: 0', axis = 1, inplace = True)
oncomm1.columns = ['Date', 'oncomm1']
oncomm1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
oncomm1.set_index('Date', inplace = True)

# Amostra 2
oncomm2 = pd.read_csv('../gt-data/oncomm/oncomm-samp2.csv')
oncomm2.drop('Unnamed: 0', axis = 1, inplace = True)
oncomm2.columns = ['Date', 'oncomm2']
oncomm2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
oncomm2.set_index('Date', inplace = True)

# Amostra 3
oncomm3 = pd.read_csv('../gt-data/oncomm/oncomm-samp3.csv')
oncomm3.drop('Unnamed: 0', axis = 1, inplace = True)
oncomm3.columns = ['Date', 'oncomm3']
oncomm3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
oncomm3.set_index('Date', inplace = True)

# Amostra 4
oncomm4 = pd.read_csv('../gt-data/oncomm/oncomm-samp4.csv')
oncomm4.drop('Unnamed: 0', axis = 1, inplace = True)
oncomm4.columns = ['Date', 'oncomm4']
oncomm4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
oncomm4.set_index('Date', inplace = True)

# Amostra 5
oncomm5 = pd.read_csv('../gt-data/oncomm/oncomm-samp5.csv')
oncomm5.drop('Unnamed: 0', axis = 1, inplace = True)
oncomm5.columns = ['Date', 'oncomm5']
oncomm5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
oncomm5.set_index('Date', inplace = True)

# Amostra 6
oncomm6 = pd.read_csv('../gt-data/oncomm/oncomm-samp6.csv')
oncomm6.drop('Unnamed: 0', axis = 1, inplace = True)
oncomm6.columns = ['Date', 'oncomm6']
oncomm6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
oncomm6.set_index('Date', inplace = True)

# Amostra 7
oncomm7 = pd.read_csv('../gt-data/oncomm/oncomm-samp7.csv')
oncomm7.drop('Unnamed: 0', axis = 1, inplace = True)
oncomm7.columns = ['Date', 'oncomm7']
oncomm7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
oncomm7.set_index('Date', inplace = True)

# Amostra 8
oncomm8 = pd.read_csv('../gt-data/oncomm/oncomm-samp8.csv')
oncomm8.drop('Unnamed: 0', axis = 1, inplace = True)
oncomm8.columns = ['Date', 'oncomm8']
oncomm8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
oncomm8.set_index('Date', inplace = True)

# Juntando todas as amostras
oncomm_dfs = [oncomm1, oncomm2, oncomm3, oncomm4, oncomm5, oncomm6, oncomm7, oncomm8]
oncomm = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), oncomm_dfs)
oncomm

# Tirando a média
oncomm['gt_oncomm'] = oncomm[['oncomm1', 'oncomm2', 'oncomm3', 'oncomm4', 'oncomm5', 'oncomm6', 'oncomm7', 'oncomm8']].mean(axis = 1)
oncomm = oncomm['gt_oncomm'].copy()
oncomm

Date
2004-01-01     6.875
2004-02-01     6.750
2004-03-01     7.000
2004-04-01     7.500
2004-05-01     8.000
               ...
2022-05-01    14.750
2022-06-01    14.250
2022-07-01    15.125
2022-08-01    15.125
2022-09-01    14.000
Name: gt_oncomm, Length: 225, dtype: float64

## Real Estate (Mercado Imobiliário)

In [50]:
# Mercado Imobiliário 

# Amostra 1
realestate1 = pd.read_csv('../gt-data/realestate/realestate-samp1.csv')
realestate1.drop('Unnamed: 0', axis = 1, inplace = True)
realestate1.columns = ['Date', 'realestate1']
realestate1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
realestate1.set_index('Date', inplace = True)

# Amostra 2
realestate2 = pd.read_csv('../gt-data/realestate/realestate-samp2.csv')
realestate2.drop('Unnamed: 0', axis = 1, inplace = True)
realestate2.columns = ['Date', 'realestate2']
realestate2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
realestate2.set_index('Date', inplace = True)

# Amostra 3
realestate3 = pd.read_csv('../gt-data/realestate/realestate-samp3.csv')
realestate3.drop('Unnamed: 0', axis = 1, inplace = True)
realestate3.columns = ['Date', 'realestate3']
realestate3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
realestate3.set_index('Date', inplace = True)

# Amostra 4
realestate4 = pd.read_csv('../gt-data/realestate/realestate-samp4.csv')
realestate4.drop('Unnamed: 0', axis = 1, inplace = True)
realestate4.columns = ['Date', 'realestate4']
realestate4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
realestate4.set_index('Date', inplace = True)

# Amostra 5
realestate5 = pd.read_csv('../gt-data/realestate/realestate-samp5.csv')
realestate5.drop('Unnamed: 0', axis = 1, inplace = True)
realestate5.columns = ['Date', 'realestate5']
realestate5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
realestate5.set_index('Date', inplace = True)

# Amostra 6
realestate6 = pd.read_csv('../gt-data/realestate/realestate-samp6.csv')
realestate6.drop('Unnamed: 0', axis = 1, inplace = True)
realestate6.columns = ['Date', 'realestate6']
realestate6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
realestate6.set_index('Date', inplace = True)

# Amostra 7
realestate7 = pd.read_csv('../gt-data/realestate/realestate-samp7.csv')
realestate7.drop('Unnamed: 0', axis = 1, inplace = True)
realestate7.columns = ['Date', 'realestate7']
realestate7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
realestate7.set_index('Date', inplace = True)

# Amostra 8
realestate8 = pd.read_csv('../gt-data/realestate/realestate-samp8.csv')
realestate8.drop('Unnamed: 0', axis = 1, inplace = True)
realestate8.columns = ['Date', 'realestate8']
realestate8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
realestate8.set_index('Date', inplace = True)

# Juntando todas as amostras
realestate_dfs = [realestate1, realestate2, realestate3, realestate4, realestate5, realestate6, realestate7, realestate8]
realestate = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), realestate_dfs)
realestate

# Tirando a média
realestate['gt_realestate'] = realestate[['realestate1', 'realestate2', 'realestate3', 'realestate4', 'realestate5', 'realestate6', 
                                          'realestate7', 'realestate8']].mean(axis = 1)
realestate = realestate['gt_realestate'].copy()
realestate

Date
2004-01-01    25.750
2004-02-01    21.375
2004-03-01    23.500
2004-04-01    21.500
2004-05-01    22.625
               ...
2022-05-01    68.250
2022-06-01    68.000
2022-07-01    71.500
2022-08-01    76.125
2022-09-01    68.500
Name: gt_realestate, Length: 225, dtype: float64

## Shopping (Compras)

In [51]:
# Shopping

# Amostra 1
shop1 = pd.read_csv('../gt-data/shop/shop-samp1.csv')
shop1.drop('Unnamed: 0', axis = 1, inplace = True)
shop1.columns = ['Date', 'shop1']
shop1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
shop1.set_index('Date', inplace = True)

# Amostra 2
shop2 = pd.read_csv('../gt-data/shop/shop-samp2.csv')
shop2.drop('Unnamed: 0', axis = 1, inplace = True)
shop2.columns = ['Date', 'shop2']
shop2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
shop2.set_index('Date', inplace = True)

# Amostra 3
shop3 = pd.read_csv('../gt-data/shop/shop-samp3.csv')
shop3.drop('Unnamed: 0', axis = 1, inplace = True)
shop3.columns = ['Date', 'shop3']
shop3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
shop3.set_index('Date', inplace = True)

# Amostra 4
shop4 = pd.read_csv('../gt-data/shop/shop-samp4.csv')
shop4.drop('Unnamed: 0', axis = 1, inplace = True)
shop4.columns = ['Date', 'shop4']
shop4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
shop4.set_index('Date', inplace = True)

# Amostra 5
shop5 = pd.read_csv('../gt-data/shop/shop-samp5.csv')
shop5.drop('Unnamed: 0', axis = 1, inplace = True)
shop5.columns = ['Date', 'shop5']
shop5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
shop5.set_index('Date', inplace = True)

# Amostra 6
shop6 = pd.read_csv('../gt-data/shop/shop-samp6.csv')
shop6.drop('Unnamed: 0', axis = 1, inplace = True)
shop6.columns = ['Date', 'shop6']
shop6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
shop6.set_index('Date', inplace = True)

# Amostra 7
shop7 = pd.read_csv('../gt-data/shop/shop-samp7.csv')
shop7.drop('Unnamed: 0', axis = 1, inplace = True)
shop7.columns = ['Date', 'shop7']
shop7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
shop7.set_index('Date', inplace = True)

# Amostra 8
shop8 = pd.read_csv('../gt-data/shop/shop-samp8.csv')
shop8.drop('Unnamed: 0', axis = 1, inplace = True)
shop8.columns = ['Date', 'shop8']
shop8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
shop8.set_index('Date', inplace = True)

# Juntando todas as amostras
shop_dfs = [shop1, shop2, shop3, shop4, shop5, shop6, shop7, shop8]
shop = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), shop_dfs)
shop

# Tirando a média
shop['gt_shopping'] = shop[['shop1', 'shop2', 'shop3', 'shop4', 'shop5', 'shop6', 'shop7', 'shop8']].mean(axis = 1)
shop = shop['gt_shopping'].copy()
shop

Date
2004-01-01    30.125
2004-02-01    27.875
2004-03-01    33.125
2004-04-01    32.375
2004-05-01    35.625
               ...
2022-05-01    91.625
2022-06-01    90.875
2022-07-01    89.500
2022-08-01    89.500
2022-09-01    83.250
Name: gt_shopping, Length: 225, dtype: float64

## Beleza e Fitness

In [52]:
# Beleza e Fitness

# Amostra 1
bfit1 = pd.read_csv('../gt-data/bfit/bfit-samp1.csv')
bfit1.drop('Unnamed: 0', axis = 1, inplace = True)
bfit1.columns = ['Date', 'bfit1']
bfit1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
bfit1.set_index('Date', inplace = True)

# Amostra 2
bfit2 = pd.read_csv('../gt-data/bfit/bfit-samp2.csv')
bfit2.drop('Unnamed: 0', axis = 1, inplace = True)
bfit2.columns = ['Date', 'bfit2']
bfit2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
bfit2.set_index('Date', inplace = True)

# Amostra 3
bfit3 = pd.read_csv('../gt-data/bfit/bfit-samp3.csv')
bfit3.drop('Unnamed: 0', axis = 1, inplace = True)
bfit3.columns = ['Date', 'bfit3']
bfit3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
bfit3.set_index('Date', inplace = True)

# Amostra 4
bfit4 = pd.read_csv('../gt-data/bfit/bfit-samp4.csv')
bfit4.drop('Unnamed: 0', axis = 1, inplace = True)
bfit4.columns = ['Date', 'bfit4']
bfit4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
bfit4.set_index('Date', inplace = True)

# Amostra 5
bfit5 = pd.read_csv('../gt-data/bfit/bfit-samp5.csv')
bfit5.drop('Unnamed: 0', axis = 1, inplace = True)
bfit5.columns = ['Date', 'bfit5']
bfit5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
bfit5.set_index('Date', inplace = True)

# Amostra 6
bfit6 = pd.read_csv('../gt-data/bfit/bfit-samp6.csv')
bfit6.drop('Unnamed: 0', axis = 1, inplace = True)
bfit6.columns = ['Date', 'bfit6']
bfit6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
bfit6.set_index('Date', inplace = True)

# Amostra 7
bfit7 = pd.read_csv('../gt-data/bfit/bfit-samp7.csv')
bfit7.drop('Unnamed: 0', axis = 1, inplace = True)
bfit7.columns = ['Date', 'bfit7']
bfit7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
bfit7.set_index('Date', inplace = True)

# Amostra 8
bfit8 = pd.read_csv('../gt-data/bfit/bfit-samp8.csv')
bfit8.drop('Unnamed: 0', axis = 1, inplace = True)
bfit8.columns = ['Date', 'bfit8']
bfit8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
bfit8.set_index('Date', inplace = True)

# Juntando todas as amostras
bfit_dfs = [bfit1, bfit2, bfit3, bfit4, bfit5, bfit6, bfit7, bfit8]
bfit = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), bfit_dfs)
bfit

# Tirando a média
bfit['gt_bfit'] = bfit[['bfit1', 'bfit2', 'bfit3', 'bfit4', 'bfit5', 'bfit6', 'bfit7', 'bfit8']].mean(axis = 1)
bfit = bfit['gt_bfit'].copy()
bfit

Date
2004-01-01    17.875
2004-02-01    16.125
2004-03-01    19.250
2004-04-01    20.125
2004-05-01    21.000
               ...
2022-05-01    83.875
2022-06-01    89.500
2022-07-01    93.000
2022-08-01    95.000
2022-09-01    89.000
Name: gt_bfit, Length: 225, dtype: float64

## Computador e eletrônicos

In [53]:
# Cumputador e Eletrônicos

# Amostra 1
pceletro1 = pd.read_csv('../gt-data/pceletro/pceletro-samp1.csv')
pceletro1.drop('Unnamed: 0', axis = 1, inplace = True)
pceletro1.columns = ['Date', 'pceletro1']
pceletro1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
pceletro1.set_index('Date', inplace = True)

# Amostra 2
pceletro2 = pd.read_csv('../gt-data/pceletro/pceletro-samp2.csv')
pceletro2.drop('Unnamed: 0', axis = 1, inplace = True)
pceletro2.columns = ['Date', 'pceletro2']
pceletro2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
pceletro2.set_index('Date', inplace = True)

# Amostra 3
pceletro3 = pd.read_csv('../gt-data/pceletro/pceletro-samp3.csv')
pceletro3.drop('Unnamed: 0', axis = 1, inplace = True)
pceletro3.columns = ['Date', 'pceletro3']
pceletro3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
pceletro3.set_index('Date', inplace = True)

# Amostra 4
pceletro4 = pd.read_csv('../gt-data/pceletro/pceletro-samp4.csv')
pceletro4.drop('Unnamed: 0', axis = 1, inplace = True)
pceletro4.columns = ['Date', 'pceletro4']
pceletro4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
pceletro4.set_index('Date', inplace = True)

# Amostra 5
pceletro5 = pd.read_csv('../gt-data/pceletro/pceletro-samp5.csv')
pceletro5.drop('Unnamed: 0', axis = 1, inplace = True)
pceletro5.columns = ['Date', 'pceletro5']
pceletro5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
pceletro5.set_index('Date', inplace = True)

# Amostra 6
pceletro6 = pd.read_csv('../gt-data/pceletro/pceletro-samp6.csv')
pceletro6.drop('Unnamed: 0', axis = 1, inplace = True)
pceletro6.columns = ['Date', 'pceletro6']
pceletro6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
pceletro6.set_index('Date', inplace = True)

# Amostra 7
pceletro7 = pd.read_csv('../gt-data/pceletro/pceletro-samp7.csv')
pceletro7.drop('Unnamed: 0', axis = 1, inplace = True)
pceletro7.columns = ['Date', 'pceletro7']
pceletro7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
pceletro7.set_index('Date', inplace = True)

# Amostra 8
pceletro8 = pd.read_csv('../gt-data/pceletro/pceletro-samp8.csv')
pceletro8.drop('Unnamed: 0', axis = 1, inplace = True)
pceletro8.columns = ['Date', 'pceletro8']
pceletro8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
pceletro8.set_index('Date', inplace = True)

# Juntando todas as amostras
pceletro_dfs = [pceletro1, pceletro2, pceletro3, pceletro4, pceletro5, pceletro6, pceletro7, pceletro8]
pceletro = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), pceletro_dfs)
pceletro

# Tirando a média
pceletro['gt_pceletro'] = pceletro[['pceletro1', 'pceletro2', 'pceletro3', 'pceletro4', 'pceletro5', 
                                    'pceletro6', 'pceletro7', 'pceletro8']].mean(axis = 1)
pceletro = pceletro['gt_pceletro'].copy()
pceletro

Date
2004-01-01    67.875
2004-02-01    69.250
2004-03-01    80.250
2004-04-01    77.000
2004-05-01    84.000
               ...
2022-05-01    76.250
2022-06-01    79.375
2022-07-01    75.750
2022-08-01    80.125
2022-09-01    74.875
Name: gt_pceletro, Length: 225, dtype: float64

## Jogos

In [54]:
# Jogos 

# Amostra 1
games1 = pd.read_csv('../gt-data/games/games-samp1.csv')
games1.drop('Unnamed: 0', axis = 1, inplace = True)
games1.columns = ['Date', 'games1']
games1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
games1.set_index('Date', inplace = True)

# Amostra 2
games2 = pd.read_csv('../gt-data/games/games-samp2.csv')
games2.drop('Unnamed: 0', axis = 1, inplace = True)
games2.columns = ['Date', 'games2']
games2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
games2.set_index('Date', inplace = True)

# Amostra 3
games3 = pd.read_csv('../gt-data/games/games-samp3.csv')
games3.drop('Unnamed: 0', axis = 1, inplace = True)
games3.columns = ['Date', 'games3']
games3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
games3.set_index('Date', inplace = True)

# Amostra 4
games4 = pd.read_csv('../gt-data/games/games-samp4.csv')
games4.drop('Unnamed: 0', axis = 1, inplace = True)
games4.columns = ['Date', 'games4']
games4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
games4.set_index('Date', inplace = True)

# Amostra 5
games5 = pd.read_csv('../gt-data/games/games-samp5.csv')
games5.drop('Unnamed: 0', axis = 1, inplace = True)
games5.columns = ['Date', 'games5']
games5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
games5.set_index('Date', inplace = True)

# Amostra 6
games6 = pd.read_csv('../gt-data/games/games-samp6.csv')
games6.drop('Unnamed: 0', axis = 1, inplace = True)
games6.columns = ['Date', 'games6']
games6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
games6.set_index('Date', inplace = True)

# Amostra 7
games7 = pd.read_csv('../gt-data/games/games-samp7.csv')
games7.drop('Unnamed: 0', axis = 1, inplace = True)
games7.columns = ['Date', 'games7']
games7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
games7.set_index('Date', inplace = True)

# Amostra 8
games8 = pd.read_csv('../gt-data/games/games-samp8.csv')
games8.drop('Unnamed: 0', axis = 1, inplace = True)
games8.columns = ['Date', 'games8']
games8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
games8.set_index('Date', inplace = True)

# Juntando todas as amostras
games_dfs = [games1, games2, games3, games4, games5, games6, games7, games8]
games = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), games_dfs)
games

# Tirando a média
games['gt_games'] = games[['games1', 'games2', 'games3', 'games4', 'games5', 'games6', 'games7', 'games8']].mean(axis = 1)
games = games['gt_games'].copy()
games

Date
2004-01-01    26.750
2004-02-01    23.625
2004-03-01    24.375
2004-04-01    24.375
2004-05-01    25.125
               ...
2022-05-01    51.875
2022-06-01    54.625
2022-07-01    55.750
2022-08-01    54.875
2022-09-01    56.125
Name: gt_games, Length: 225, dtype: float64

## Casa e afins

In [55]:
# Casa e afins 

# Amostra 1
home1 = pd.read_csv('../gt-data/home/home-samp1.csv')
home1.drop('Unnamed: 0', axis = 1, inplace = True)
home1.columns = ['Date', 'home1']
home1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
home1.set_index('Date', inplace = True)

# Amostra 2
home2 = pd.read_csv('../gt-data/home/home-samp2.csv')
home2.drop('Unnamed: 0', axis = 1, inplace = True)
home2.columns = ['Date', 'home2']
home2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
home2.set_index('Date', inplace = True)

# Amostra 3
home3 = pd.read_csv('../gt-data/home/home-samp3.csv')
home3.drop('Unnamed: 0', axis = 1, inplace = True)
home3.columns = ['Date', 'home3']
home3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
home3.set_index('Date', inplace = True)

# Amostra 4
home4 = pd.read_csv('../gt-data/home/home-samp4.csv')
home4.drop('Unnamed: 0', axis = 1, inplace = True)
home4.columns = ['Date', 'home4']
home4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
home4.set_index('Date', inplace = True)

# Amostra 5
home5 = pd.read_csv('../gt-data/home/home-samp5.csv')
home5.drop('Unnamed: 0', axis = 1, inplace = True)
home5.columns = ['Date', 'home5']
home5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
home5.set_index('Date', inplace = True)

# Amostra 6
home6 = pd.read_csv('../gt-data/home/home-samp6.csv')
home6.drop('Unnamed: 0', axis = 1, inplace = True)
home6.columns = ['Date', 'home6']
home6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
home6.set_index('Date', inplace = True)

# Amostra 7
home7 = pd.read_csv('../gt-data/home/home-samp7.csv')
home7.drop('Unnamed: 0', axis = 1, inplace = True)
home7.columns = ['Date', 'home7']
home7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
home7.set_index('Date', inplace = True)

# Amostra 8
home8 = pd.read_csv('../gt-data/home/home-samp8.csv')
home8.drop('Unnamed: 0', axis = 1, inplace = True)
home8.columns = ['Date', 'home8']
home8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
home8.set_index('Date', inplace = True)

# Juntando todas as amostras
home_dfs = [home1, home2, home3, home4, home5, home6, home7, home8]
home = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), home_dfs)
home

# Tirando a média
home['gt_home'] = home[['home1', 'home2', 'home3', 'home4', 'home5', 'home6', 'home7', 'home8']].mean(axis = 1)
home = home['gt_home'].copy()
home

Date
2004-01-01    11.250
2004-02-01    11.875
2004-03-01    13.000
2004-04-01    13.000
2004-05-01    15.125
               ...
2022-05-01    73.875
2022-06-01    75.750
2022-07-01    79.000
2022-08-01    77.875
2022-09-01    72.000
Name: gt_home, Length: 225, dtype: float64

## Leis e Governo

In [56]:
# Leis e Governo

# Amostra 1
law1 = pd.read_csv('../gt-data/law/law-samp1.csv')
law1.drop('Unnamed: 0', axis = 1, inplace = True)
law1.columns = ['Date', 'law1']
law1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
law1.set_index('Date', inplace = True)

# Amostra 2
law2 = pd.read_csv('../gt-data/law/law-samp2.csv')
law2.drop('Unnamed: 0', axis = 1, inplace = True)
law2.columns = ['Date', 'law2']
law2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
law2.set_index('Date', inplace = True)

# Amostra 3
law3 = pd.read_csv('../gt-data/law/law-samp3.csv')
law3.drop('Unnamed: 0', axis = 1, inplace = True)
law3.columns = ['Date', 'law3']
law3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
law3.set_index('Date', inplace = True)

# Amostra 4
law4 = pd.read_csv('../gt-data/law/law-samp4.csv')
law4.drop('Unnamed: 0', axis = 1, inplace = True)
law4.columns = ['Date', 'law4']
law4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
law4.set_index('Date', inplace = True)

# Amostra 5
law5 = pd.read_csv('../gt-data/law/law-samp5.csv')
law5.drop('Unnamed: 0', axis = 1, inplace = True)
law5.columns = ['Date', 'law5']
law5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
law5.set_index('Date', inplace = True)

# Amostra 6
law6 = pd.read_csv('../gt-data/law/law-samp6.csv')
law6.drop('Unnamed: 0', axis = 1, inplace = True)
law6.columns = ['Date', 'law6']
law6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
law6.set_index('Date', inplace = True)

# Amostra 7
law7 = pd.read_csv('../gt-data/law/law-samp7.csv')
law7.drop('Unnamed: 0', axis = 1, inplace = True)
law7.columns = ['Date', 'law7']
law7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
law7.set_index('Date', inplace = True)

# Amostra 8
law8 = pd.read_csv('../gt-data/law/law-samp8.csv')
law8.drop('Unnamed: 0', axis = 1, inplace = True)
law8.columns = ['Date', 'law8']
law8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
law8.set_index('Date', inplace = True)

# Juntando todas as amostras
law_dfs = [law1, law2, law3, law4, law5, law6, law7, law8]
law = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), law_dfs)
law

# Tirando a média
law['gt_law'] = law[['law1', 'law2', 'law3', 'law4', 'law5', 'law6', 'law7', 'law8']].mean(axis = 1)
law = law['gt_law'].copy()
law

Date
2004-01-01    32.750
2004-02-01    33.375
2004-03-01    42.750
2004-04-01    42.500
2004-05-01    43.625
               ...
2022-05-01    73.125
2022-06-01    69.875
2022-07-01    73.625
2022-08-01    78.750
2022-09-01    84.125
Name: gt_law, Length: 225, dtype: float64

## Povo e Sociedade

In [57]:
# Povo e Sociedade

# Amostra 1
povo1 = pd.read_csv('../gt-data/povo/povo-samp1.csv')
povo1.drop('Unnamed: 0', axis = 1, inplace = True)
povo1.columns = ['Date', 'povo1']
povo1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
povo1.set_index('Date', inplace = True)

# Amostra 2
povo2 = pd.read_csv('../gt-data/povo/povo-samp2.csv')
povo2.drop('Unnamed: 0', axis = 1, inplace = True)
povo2.columns = ['Date', 'povo2']
povo2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
povo2.set_index('Date', inplace = True)

# Amostra 3
povo3 = pd.read_csv('../gt-data/povo/povo-samp3.csv')
povo3.drop('Unnamed: 0', axis = 1, inplace = True)
povo3.columns = ['Date', 'povo3']
povo3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
povo3.set_index('Date', inplace = True)

# Amostra 4
povo4 = pd.read_csv('../gt-data/povo/povo-samp4.csv')
povo4.drop('Unnamed: 0', axis = 1, inplace = True)
povo4.columns = ['Date', 'povo4']
povo4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
povo4.set_index('Date', inplace = True)

# Amostra 5
povo5 = pd.read_csv('../gt-data/povo/povo-samp5.csv')
povo5.drop('Unnamed: 0', axis = 1, inplace = True)
povo5.columns = ['Date', 'povo5']
povo5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
povo5.set_index('Date', inplace = True)

# Amostra 6
povo6 = pd.read_csv('../gt-data/povo/povo-samp6.csv')
povo6.drop('Unnamed: 0', axis = 1, inplace = True)
povo6.columns = ['Date', 'povo6']
povo6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
povo6.set_index('Date', inplace = True)

# Amostra 7
povo7 = pd.read_csv('../gt-data/povo/povo-samp7.csv')
povo7.drop('Unnamed: 0', axis = 1, inplace = True)
povo7.columns = ['Date', 'povo7']
povo7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
povo7.set_index('Date', inplace = True)

# Amostra 8
povo8 = pd.read_csv('../gt-data/povo/povo-samp8.csv')
povo8.drop('Unnamed: 0', axis = 1, inplace = True)
povo8.columns = ['Date', 'povo8']
povo8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
povo8.set_index('Date', inplace = True)

# Juntando todas as amostras
povo_dfs = [povo1, povo2, povo3, povo4, povo5, povo6, povo7, povo8]
povo = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), povo_dfs)
povo

# Tirando a média
povo['gt_povo'] = povo[['povo1', 'povo2', 'povo3', 'povo4', 'povo5', 'povo6', 'povo7', 'povo8']].mean(axis = 1)
povo = povo['gt_povo'].copy()
povo

Date
2004-01-01    35.750
2004-02-01    35.000
2004-03-01    44.250
2004-04-01    45.750
2004-05-01    49.250
               ...
2022-05-01    92.125
2022-06-01    91.875
2022-07-01    91.750
2022-08-01    95.500
2022-09-01    92.250
Name: gt_povo, Length: 225, dtype: float64

## Referência

In [58]:
# Referencias

# Amostra 1
ref1 = pd.read_csv('../gt-data/ref/ref-samp1.csv')
ref1.drop('Unnamed: 0', axis = 1, inplace = True)
ref1.columns = ['Date', 'ref1']
ref1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
ref1.set_index('Date', inplace = True)

# Amostra 2
ref2 = pd.read_csv('../gt-data/ref/ref-samp2.csv')
ref2.drop('Unnamed: 0', axis = 1, inplace = True)
ref2.columns = ['Date', 'ref2']
ref2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
ref2.set_index('Date', inplace = True)

# Amostra 3
ref3 = pd.read_csv('../gt-data/ref/ref-samp3.csv')
ref3.drop('Unnamed: 0', axis = 1, inplace = True)
ref3.columns = ['Date', 'ref3']
ref3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
ref3.set_index('Date', inplace = True)

# Amostra 4
ref4 = pd.read_csv('../gt-data/ref/ref-samp4.csv')
ref4.drop('Unnamed: 0', axis = 1, inplace = True)
ref4.columns = ['Date', 'ref4']
ref4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
ref4.set_index('Date', inplace = True)

# Amostra 5
ref5 = pd.read_csv('../gt-data/ref/ref-samp5.csv')
ref5.drop('Unnamed: 0', axis = 1, inplace = True)
ref5.columns = ['Date', 'ref5']
ref5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
ref5.set_index('Date', inplace = True)

# Amostra 6
ref6 = pd.read_csv('../gt-data/ref/ref-samp6.csv')
ref6.drop('Unnamed: 0', axis = 1, inplace = True)
ref6.columns = ['Date', 'ref6']
ref6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
ref6.set_index('Date', inplace = True)

# Amostra 7
ref7 = pd.read_csv('../gt-data/ref/ref-samp7.csv')
ref7.drop('Unnamed: 0', axis = 1, inplace = True)
ref7.columns = ['Date', 'ref7']
ref7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
ref7.set_index('Date', inplace = True)

# Amostra 8
ref8 = pd.read_csv('../gt-data/ref/ref-samp8.csv')
ref8.drop('Unnamed: 0', axis = 1, inplace = True)
ref8.columns = ['Date', 'ref8']
ref8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
ref8.set_index('Date', inplace = True)

# Juntando todas as amostras
ref_dfs = [ref1, ref2, ref3, ref4, ref5, ref6, ref7, ref8]
ref = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), ref_dfs)
ref

# Tirando a média
ref['gt_ref'] = ref[['ref1', 'ref2', 'ref3', 'ref4', 'ref5', 'ref6', 'ref7', 'ref8']].mean(axis = 1)
ref = ref['gt_ref'].copy()
ref

Date
2004-01-01    24.750
2004-02-01    28.375
2004-03-01    39.625
2004-04-01    38.375
2004-05-01    42.500
               ...
2022-05-01    93.625
2022-06-01    94.500
2022-07-01    90.375
2022-08-01    98.375
2022-09-01    94.250
Name: gt_ref, Length: 225, dtype: float64

## Esportes

In [59]:
# Esportes 

# Amostra 1
sports1 = pd.read_csv('../gt-data/sports/sports-samp1.csv')
sports1.drop('Unnamed: 0', axis = 1, inplace = True)
sports1.columns = ['Date', 'sports1']
sports1['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
sports1.set_index('Date', inplace = True)

# Amostra 2
sports2 = pd.read_csv('../gt-data/sports/sports-samp2.csv')
sports2.drop('Unnamed: 0', axis = 1, inplace = True)
sports2.columns = ['Date', 'sports2']
sports2['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
sports2.set_index('Date', inplace = True)

# Amostra 3
sports3 = pd.read_csv('../gt-data/sports/sports-samp3.csv')
sports3.drop('Unnamed: 0', axis = 1, inplace = True)
sports3.columns = ['Date', 'sports3']
sports3['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
sports3.set_index('Date', inplace = True)

# Amostra 4
sports4 = pd.read_csv('../gt-data/sports/sports-samp4.csv')
sports4.drop('Unnamed: 0', axis = 1, inplace = True)
sports4.columns = ['Date', 'sports4']
sports4['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
sports4.set_index('Date', inplace = True)

# Amostra 5
sports5 = pd.read_csv('../gt-data/sports/sports-samp5.csv')
sports5.drop('Unnamed: 0', axis = 1, inplace = True)
sports5.columns = ['Date', 'sports5']
sports5['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
sports5.set_index('Date', inplace = True)

# Amostra 6
sports6 = pd.read_csv('../gt-data/sports/sports-samp6.csv')
sports6.drop('Unnamed: 0', axis = 1, inplace = True)
sports6.columns = ['Date', 'sports6']
sports6['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
sports6.set_index('Date', inplace = True)

# Amostra 7
sports7 = pd.read_csv('../gt-data/sports/sports-samp7.csv')
sports7.drop('Unnamed: 0', axis = 1, inplace = True)
sports7.columns = ['Date', 'sports7']
sports7['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
sports7.set_index('Date', inplace = True)

# Amostra 8
sports8 = pd.read_csv('../gt-data/sports/sports-samp8.csv')
sports8.drop('Unnamed: 0', axis = 1, inplace = True)
sports8.columns = ['Date', 'sports8']
sports8['Date'] = pd.date_range(start = '2004-01-01', end = '2022-09-01', freq = 'MS')
sports8.set_index('Date', inplace = True)

# Juntando todas as amostras
sports_dfs = [sports1, sports2, sports3, sports4, sports5, sports6, sports7, sports8]
sports = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), sports_dfs)
sports

# Tirando a média
sports['gt_sports'] = sports[['sports1', 'sports2', 'sports3', 'sports4', 'sports5', 'sports6', 'sports7', 'sports8']].mean(axis = 1)
sports = sports['gt_sports'].copy()
sports

Date
2004-01-01     8.750
2004-02-01     8.125
2004-03-01    10.125
2004-04-01    11.125
2004-05-01    11.875
               ...
2022-05-01    81.250
2022-06-01    86.000
2022-07-01    97.750
2022-08-01    98.125
2022-09-01    84.500
Name: gt_sports, Length: 225, dtype: float64

# Juntando os dfs finais

In [60]:
# Juntando todas as amostras
gt_cats_dfs = [arts, books, finance, health, internet, news, pets, science, travel, auto, business, food, lazer, jobs,
               oncomm, realestate, shop, bfit, pceletro, games, home, law, povo, ref, sports]
gt_cats_raw = reduce(lambda left, right: pd.merge(left, right, on = ['Date'], how = 'outer'), gt_cats_dfs)
gt_cats_raw.to_csv('gt-cats-raw.csv')
gt_cats_raw

,gt_arts,gt_books,gt_finance,gt_health,gt_internet,gt_news,gt_pets,gt_science,gt_travel,gt_auto,...,gt_realestate,gt_shopping,gt_bfit,gt_pceletro,gt_games,gt_home,gt_law,gt_povo,gt_ref,gt_sports
Date,,,,,,,,,,,,,,,,,,,,,
2004-01-01,28.125,40.625,22.250,19.875,18.625,11.000,21.500,44.875,41.125,32.250,...,25.750,30.125,17.875,67.875,26.750,11.250,32.750,35.750,24.750,8.750
2004-02-01,27.625,43.875,21.500,20.500,16.125,10.750,21.625,61.500,33.500,29.500,...,21.375,27.875,16.125,69.250,23.625,11.875,33.375,35.000,28.375,8.125
2004-03-01,31.500,61.125,25.250,28.500,18.875,13.000,27.250,93.625,34.125,31.250,...,23.500,33.125,19.250,80.250,24.375,13.000,42.750,44.250,39.625,10.125
2004-04-01,31.750,60.000,25.625,29.000,19.125,12.125,25.750,85.875,34.250,30.500,...,21.500,32.375,20.125,77.000,24.375,13.000,42.500,45.750,38.375,11.125
2004-05-01,33.250,66.125,25.875,33.500,21.750,13.875,28.875,93.000,38.375,33.750,...,22.625,35.625,21.000,84.000,25.125,15.125,43.625,49.250,42.500,11.875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-01,53.125,66.250,82.500,86.375,46.625,54.625,73.000,98.750,80.375,84.625,...,68.250,91.625,83.875,76.250,51.875,73.875,73.125,92.125,93.625,81.250
2022-06-01,53.625,64.250,73.750,92.250,47.250,56.375,75.750,93.125,82.750,84.250,...,68.000,90.875,89.500,79.375,54.625,75.750,69.875,91.875,94.500,86.000
2022-07-01,55.625,59.625,76.375,91.000,48.000,50.500,79.500,78.625,87.125,87.875,...,71.500,89.500,93.000,75.750,55.750,79.000,73.625,91.750,90.375,97.750
2022-08-01,54.875,71.125,78.250,90.875,50.000,61.500,78.125,96.125,81.625,85.500,...,76.125,89.500,95.000,80.125,54.875,77.875,78.750,95.500,98.375,98.125
2022-09-01,54.500,65.500,72.000,85.250,47.125,70.625,76.375,91.500,80.875,80.000,...,68.500,83.250,89.000,74.875,56.125,72.000,84.125,92.250,94.250,84.500