# Target Factor Model: handling data

# Bibliotecas

In [1]:
import pandas as pd
import numpy as np
import datetime as dt

import statsmodels.api as sm

# Funções

In [2]:
# CRIANDO LAGS 

def create_lags(df, lags):
    for col in df.columns:
        for lag in lags:
            df.loc[:,col+"_"+str(lag)] = df[col].shift(lag)

# Dados

In [3]:
# Lendo meta_data

meta_data = pd.read_csv('../../../data/meta-data-full.csv')
meta_data.drop(['tcode', 'transf_code'], axis = 1, inplace = True)
meta_data

,group,category,code,name_df,name,source,frequency,original,order,transf,days_lag,where
0,0,Produção,22099,gdp,PIB trimestral - Dados observados - preços de ...,IBGE,Q,Index,NaN,pctchg_12,63.0,BCB
1,0,Produção,24363,ibc_br,Índice de Atividade Econômica do Banco Central...,BCB,M,Index,NaN,diff_12,52.0,BCB
2,0,Produção,4380,mon_gdp,PIB mensal - Valores correntes (R$ milhões)\t,BCB,M,R$,NaN,diff_12,48.0,BCB
3,0,Produção,21859,ind_prod,Indicadores da produção (2012=100) - Produção ...,IBGE,M,Index,NaN,diff_12,30.0,BCB
4,0,Produção,21861,ind_prod_ext,Indicadores da produção (2012=100) - Produção ...,IBGE,M,Index,NaN,diff_12,30.0,BCB
...,...,...,...,...,...,...,...,...,...,...,...,...
190,9,Google Trends,empreendedor,gt_empreendedor,Google Trends - Empreendedor,Google,M,Trend Index,NaN,diff_diff_12,NaN,gtrendsR
191,9,Google Trends,abrir empresa,gt_empresa,Google Trends - Abrir empresa,Google,M,Trend Index,NaN,diff_12,NaN,gtrendsR
192,9,Google Trends,credito,gt_credito,Google Trends - Crédito,Google,M,Trend Index,NaN,diff_diff_12,NaN,gtrendsR
193,9,Google Trends,dolar,gt_dolar,Google Trends - Dólar,Google,M,Trend Index,NaN,diff_12,NaN,gtrendsR
194,9,Google Trends,financiamento,gt_financiamento,Google Trends - Financiamento,Google,M,Trend Index,NaN,diff_12,NaN,gtrendsR

In [4]:
# Carregando dados tratados

data = pd.read_csv('../../../data/data_full_tf12.csv')
# data['Date'] = pd.date_range(start = '2002-03-01', end = '2022-09-01', freq = 'QS-DEC') --> se fosse para trimestre 
data['Date'] = pd.date_range(start = '2002-01-01', end = '2022-09-01', freq = 'MS')
data.set_index('Date', inplace = True)

# Agregando as séries pela média e substituindo NAs pela mediana

qdata = (data.groupby(pd.PeriodIndex(data.index, freq = 'Q'), axis = 0)).mean()
cols = qdata.columns

qdata

,gdp,ibc_br,mon_gdp,ind_prod,ind_prod_ext,ind_prod_transf,ind_cap_goods,ind_prod_int_goods,ind_prod_man,ind_prod_dur_goods,...,gt_politica,gt_aluguel,gt_seguro,gt_governo,gt_viagem,gt_empreendedor,gt_empresa,gt_credito,gt_dolar,gt_financiamento
Date,,,,,,,,,,,,,,,,,,,,,
2002Q1,NaN,2.450000,29367.700000,0.700000,2.800000,0.800000,3.800000,0.300000,0.800000,2.300000,...,0.375000,0.750000,0.375000,0.000000,1.375000,-0.250000,-1.125000,0.000000,2.375000,1.250000
2002Q2,NaN,2.450000,29367.700000,0.700000,2.800000,0.800000,3.800000,0.300000,0.800000,2.300000,...,0.375000,0.750000,0.375000,0.000000,1.375000,-0.250000,-1.125000,0.000000,2.375000,1.250000
2002Q3,NaN,2.450000,29367.700000,0.700000,2.800000,0.800000,3.800000,0.300000,0.800000,2.300000,...,0.375000,0.750000,0.375000,0.000000,1.375000,-0.250000,-1.125000,0.000000,2.375000,1.250000
2002Q4,NaN,2.450000,29367.700000,0.700000,2.800000,0.800000,3.800000,0.300000,0.800000,2.300000,...,0.375000,0.750000,0.375000,0.000000,1.375000,-0.250000,-1.125000,0.000000,2.375000,1.250000
2003Q1,0.026665,2.450000,18315.000000,1.400000,5.733333,1.166667,-0.933333,3.700000,-1.666667,2.200000,...,0.375000,0.750000,0.375000,0.000000,1.375000,-0.250000,-1.125000,0.000000,2.375000,1.250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021Q3,0.044305,5.106667,108263.266667,-1.200000,-0.433333,-1.266667,22.533333,-2.000000,-6.600000,-21.266667,...,0.083333,3.833333,1.375000,-18.208333,9.291667,4.666667,-3.875000,2.416667,3.958333,-12.958333
2021Q4,0.021351,0.723333,86861.833333,-6.033333,0.400000,-6.933333,5.166667,-4.733333,-12.433333,-28.033333,...,0.750000,3.041667,2.666667,-2.500000,10.208333,-4.500000,-1.583333,-1.333333,-2.666667,-8.166667
2022Q1,0.024284,2.423333,54362.233333,-3.233333,-1.533333,-3.433333,1.200000,-0.600000,-9.566667,-20.466667,...,2.500000,8.250000,2.541667,4.750000,14.083333,2.541667,1.166667,1.458333,35.416667,0.208333
2022Q2,0.036869,4.343333,96596.166667,-0.333333,-5.866667,0.500000,2.066667,-1.333333,1.166667,-5.433333,...,-1.083333,10.791667,-0.416667,6.583333,14.583333,-5.125000,0.791667,-4.583333,24.375000,-5.250000
2022Q3,0.035828,6.573333,96384.066667,0.166667,-6.500000,1.066667,-1.066667,-1.600000,3.766667,7.400000,...,3.500000,1.541667,-1.666667,-2.750000,7.416667,-2.375000,-0.500000,-1.708333,9.291667,-4.500000

# Variável-alvo vs. variáveis explicativas

In [5]:
X = qdata.drop('gdp', axis = 1)
y = qdata.gdp
y.fillna(y.median(), inplace = True)

In [6]:
y.loc['2003Q1':]

Date
2003Q1    0.026665
2003Q2    0.007798
2003Q3    0.006276
2003Q4    0.005871
2004Q1    0.038739
            ...
2021Q3    0.044305
2021Q4    0.021351
2022Q1    0.024284
2022Q2    0.036869
2022Q3    0.035828
Freq: Q-DEC, Name: gdp, Length: 79, dtype: float64

# Pré-seleção de variáveis

In [7]:
X_new = X[['ibc_br']]
lags = [1, 2, 3, 4]
create_lags(X_new, lags)
X_new['gdp_1'] = y.shift(1)
X_new

C:\Users\Henri\AppData\Local\Temp\ipykernel_4580\1043497302.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,col+"_"+str(lag)] = df[col].shift(lag)
C:\Users\Henri\AppData\Local\Temp\ipykernel_4580\1043497302.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,col+"_"+str(lag)] = df[col].shift(lag)
C:\Users\Henri\AppData\Local\Temp\ipykernel_4580\1043497302.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,col+"_"+str(lag)] = df[col].shift(lag)
C:\Users\Henri\AppData\Local\Temp\ipykernel_4580\1043497302.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,col+"_"+str(lag)] = df[col].shift(lag)
C:\Users\Henri\AppData\Local\Temp\ipykernel_4580\2437601010.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_new['gdp_1'] = y.shift(1)

          ibc_br   ibc_br_1   ibc_br_2   ibc_br_3   ibc_br_4     gdp_1
Date
2002Q1  2.450000        NaN        NaN        NaN        NaN       NaN
2002Q2  2.450000   2.450000        NaN        NaN        NaN  0.022836
2002Q3  2.450000   2.450000   2.450000        NaN        NaN  0.022836
2002Q4  2.450000   2.450000   2.450000   2.450000        NaN  0.022836
2003Q1  2.450000   2.450000   2.450000   2.450000   2.450000  0.022836
...          ...        ...        ...        ...        ...       ...
2021Q3  5.106667  17.100000   1.900000  -0.680000  -4.973333  0.124139
2021Q4  0.723333   5.106667  17.100000   1.900000  -0.680000  0.044305
2022Q1  2.423333   0.723333   5.106667  17.100000   1.900000  0.021351
2022Q2  4.343333   2.423333   0.723333   5.106667  17.100000  0.024284
2022Q3  6.573333   4.343333   2.423333   0.723333   5.106667  0.036869

[83 rows x 6 columns]

In [8]:
X_new.loc['2003Q1':].isna().sum()

ibc_br      0
ibc_br_1    0
ibc_br_2    0
ibc_br_3    0
ibc_br_4    0
gdp_1       0
dtype: int64

In [9]:
# Loop para computar os p-valores e selecionar as variáveis mais relevantes

columns = X.columns
pvals = []
variables = []

for col in columns:
    X_new = X[[col]].copy()
    lags = [1, 2, 3, 4]
    create_lags(X_new, lags)
    X_new['gdp_1'] = y.shift(1)
    X_reg = X_new.loc['2003Q2':].copy()
    y_reg = y.loc['2003Q2':].copy()
    X_reg = sm.tools.add_constant(X_reg, prepend = True)
    model = sm.OLS(y_reg, X_reg).fit()
    pvals.append(model.pvalues[col])
    variables.append(col)

print(variables, pvals)

['ibc_br', 'mon_gdp', 'ind_prod', 'ind_prod_ext', 'ind_prod_transf', 'ind_cap_goods', 'ind_prod_int_goods', 'ind_prod_man', 'ind_prod_dur_goods', 'ind_prod_nondur_goods', 'ind_prod_cc_materials', 'ind_real_sales', 'vehi_prod', 'pass_cars_prod', 'truck_prod', 'bus_prod', 'steel_prod', 'road_flow_gross_vehi', 'ipca', 'ipca_ex', 'ipca_exi', 'ipca_exii', 'ipca_exiii', 'inpc', 'igpm', 'igpdi', 'incc_m', 'incc_di_mo', 'incc_di_servmat', 'ipatac_m', 'ipc_br', 'ipa', 'ipc_fipe', 'commdt_index_br', 'commdt_index_agro', 'commdt_index_metal', 'sinapi', 'ccb_sp', 'ccb_bh', 'ccb_rj', 'ccb_bsb', 'ccb_sal', 'wage_mass_ind', 'new_caged', 'caged_agro', 'caged_ind_ext', 'caged_ind_transf', 'caged_const', 'caged_com', 'caged_servi', 'hrs_wkd_ind_transf', 'unem_rate_pnad', 'total_sales', 'const_sales', 'com_sales', 'forn_app_sales', 'fuel_sales', 'nondur_congoods_sales', 'vest_sales', 'vehi_sales', 'medcare_sales', 'books_sales', 'offcomm_sales', 'others_sales', 'vehi_total_sales_fenabrave', 'pass_vehi_sales', 'light_comm_vehi_sales', 'truck_sales', 'bus_sales', 'vehi_total_sales_anfavea', 'vehi_domestic_sales', 'energy_comm', 'energy_res', 'energy_ind', 'energy_total', 'prod_crude_oil', 'prod_lgn', 'prod_oil_deriv', 'co_gas', 'co_glp', 'co_oilcomb', 'co_diesel', 'co_oilderiv_total', 'co_hid_alc', 'co_alc_total', 'curr_acc', 'idp_gdp_twelve_mon', 'ide_mon', 'net_publi_debt_states', 'pr_central_gov', 'net_debt_percent_gdp', 'net_debt_per_gdp_states', 'net_debt_per_gdp_pe', 'net_debt_per_gdp_cons_ps', 'nm_debt_cost', 'nm_debt_cost_int', 'mon_base', 'inter_reserv', 'inter_reserv_liq', 'mi_wkdavg', 'mii_balance_endp', 'selic_mon', 'interest_longterm', 'cdi_mon', 'credit_tot', 'credit_enter', 'bndes_desem_total', 'bndes_desem_ind_transf', 'bndes_desem_comserv', 'bndes_desem_ind_ext', 'exr_usd_mon_mean', 'household_debt', 'serv_conf_index_fgv', 'serv_curr_situ_index_fgv', 'serv_expec_index_fgv', 'ind_conf_cons_feco', 'ind_eco_cond_feco', 'ind_fut_expec_feco', 'emp_conf_index_fgv', 'emp_curr_situ_index_fgv', 'emp_expec_index_fgv', 'ind_conf_index_fgv', 'ind_curr_situ_index_fgv', 'ind_expec_index_fgv', 'nuci_gv', 'cons_conf_index_fgv', 'cons_curr_situ_index_fgv', 'cons_expec_index_fgv', 'expec_gdp', 'expec_ipca', 'expec_selic', 'expec_exr_usd', 'exp_fob', 'exp_kgood_fob', 'exp_comgood_fob', 'imp_fob', 'imp_kgood_fob', 'imp_comgood_fob', 'revenue_rf', 'brent_oil_price', 'ibov', 'nasdaq', 'snp_500', 'dji', 'gt_arts', 'gt_books', 'gt_finance', 'gt_health', 'gt_internet', 'gt_news', 'gt_pets', 'gt_science', 'gt_travel', 'gt_auto', 'gt_business', 'gt_foods', 'gt_lazer', 'gt_jobs', 'gt_oncomm', 'gt_realestate', 'gt_shopping', 'gt_bfit', 'gt_pceletro', 'gt_games', 'gt_home', 'gt_law', 'gt_povo', 'gt_ref', 'gt_sports', 'gt_crise', 'gt_desemprego', 'gt_segdesemp', 'gt_empregos', 'gt_trabalho', 'gt_fgts', 'gt_renda', 'gt_salario', 'gt_economia', 'gt_cresc_pib', 'gt_inflacao', 'gt_juros', 'gt_divida', 'gt_falencia', 'gt_emprestimo', 'gt_politica', 'gt_aluguel', 'gt_seguro', 'gt_governo', 'gt_viagem', 'gt_empreendedor', 'gt_empresa', 'gt_credito', 'gt_dolar', 'gt_financiamento'] [1.1562131879972975e-45, 2.039891921900779e-19, 5.899500313058876e-37, 0.001131475966505679, 6.947910364274316e-37, 1.1661234398175878e-20, 1.0588015022225689e-25, 6.789027900840267e-32, 4.4790218652129684e-30, 3.9796492634020713e-20, 2.063280806532617e-13, 5.713160064688386e-21, 6.336474257091093e-23, 6.135646674003772e-22, 2.3029366034191985e-11, 1.8316666348533367e-05, 1.6479672982976295e-12, 2.064305529854763e-07, 0.14198594914365736, 0.005508503543533353, 0.04789802668829422, 0.028046456708926654, 0.003431873963111519, 0.2976725347777632, 0.01860571163559964, 0.044705136681104804, 6.720440358010116e-06, 0.007626899622750663, 0.026087589017789917, 0.03810059791733123, 0.13785088716193952, 0.09131217265732584, 0.21283581003257834, 0.2583424363163744, 0.4579158090469203, 0.39223602828740434, 0.023826294350493275, 0.8075244251373181, 0.1731274687868896, 0.25870816718884837, 0.04428695412704879, 0.43922703990367173, 3.780622238163051e-11, 7.744669019171206e-29, 1.3687288196002645e-05, 0.003219725150401108, 6.040268010524337e-29, 5.628192076354395e-13, 4.286837470026921e-20, 1.470442646267107e-19, 3.947357195539174e-28, 0.00011515726354479145, 1.0325735590669108e-15, 2.0657653735817853e-06, 1.4209726932784292e-19, 2.1376706331981492e-07, 0.00026896719971343324, 0.7949203088194463, 7.931570823011186e-19, 7.151216607589233e-17, 0.030427461220078077, 3.555206330101653e-07, 4.3898228521606205e-06, 5.3750206173949045e-09, 2.158357999663395e-17, 2.493403102585794e-14, 2.573729411639461e-11, 1.7259291706710185e-07, 9.328486595307016e-09, 3.5433931266769025e-22, 1.2547977471369041e-16, 1.0507722550319639e-12, 0.016302940241415334, 4.859223147618021e-22, 2.2243181073315635e-21, 0.22051075116456922, 0.1873586980667492, 0.21116252249647968, 1.1063519891669143e-06, 0.021330649075291037, 0.7301398244207754, 0.01830436879281669, 0.000256352791281286, 0.015996682585187733, 0.0006013983244786514, 0.20453610557270016, 0.9262443789900545, 0.0002603764614176908, 0.25142080087800395, 8.239373377423333e-11, 0.05179325912208874, 0.10122806884960266, 0.9122094538885916, 0.22860507293106946, 0.15470648424863195, 0.04369713618004694, 0.00036283683985166126, 0.7005938330839074, 0.34088304632004185, 0.0006691538070247792, 1.3569314353287824e-05, 0.03142340078449922, 0.1614248932538403, 0.03129396127307388, 4.5204122644685034e-07, 0.0015225558094151995, 0.11388305392785161, 0.3672365928385508, 0.05413700386901117, 0.5843653451085811, 6.25060448437947e-06, 6.666241936146713e-06, 8.042016322740977e-07, 4.8429118895104625e-14, 8.735825391516559e-13, 0.0526072361102952, 0.0009024451163871464, 0.6907780080015774, 9.308850219187307e-23, 1.3769017241443264e-22, 1.785415642863982e-19, 2.0088510891439843e-26, 2.6772044747479625e-24, 4.1175138452675147e-25, 3.844872706951726e-25, 0.0006780219276545929, 9.361924017290056e-05, 0.0025657272653123453, 2.996873782393032e-06, 0.1332755336293487, 0.040486712041641525, 5.0493544177598525e-06, 1.9201454301849633e-05, 1.0601936061469773e-06, 1.6980460526772827e-06, 1.060587430125536e-11, 0.008767917619915095, 0.001885408540507333, 7.761343738236304e-11, 0.023935965174280472, 0.041225181013746524, 0.6561548995370906, 0.32370630220897845, 0.2000089535243633, 0.6697061278209621, 0.06510713549695957, 0.725688642915543, 0.25936022360348665, 0.11713522869801314, 0.4451405436374224, 0.00013448076263784445, 0.9998260321849445, 0.00032414071887788327, 0.3345864002174258, 0.17991601902210932, 4.549425158133958e-07, 0.11868689423353569, 0.923926312624981, 0.34529309383323714, 0.26535336739481297, 0.07416097280417142, 0.001309670555844487, 0.1497400022310655, 0.4880049412069182, 4.467766799679593e-07, 0.0011176169581545278, 0.8082570359326039, 0.8141794473552971, 2.568972952810922e-06, 5.843437598717187e-05, 1.7913018984676678e-13, 4.0382314929837544e-13, 0.22932425491246228, 0.25501668870540706, 0.5266130385132056, 0.9965777193585431, 0.15025485510344933, 0.0018130767437118294, 0.22188119019474176, 0.0142018268246064, 0.44353169884449084, 0.2536265667138127, 0.09237635108283102, 0.008750186582906348, 0.8611209650733277, 0.009437545939996093, 0.13870647032928943, 0.5249955736762775, 2.2440943888083824e-08, 0.31784716431948706, 0.3130640148324716, 0.805235612427315, 0.003687868465075009, 0.0017478805796920177]

In [10]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    gdp   R-squared:                       0.626
Model:                            OLS   Adj. R-squared:                  0.595
Method:                 Least Squares   F-statistic:                     19.85
Date:                Mon, 19 Jun 2023   Prob (F-statistic):           1.82e-13
Time:                        14:55:03   Log-Likelihood:                 186.85
No. Observations:                  78   AIC:                            -359.7
Df Residuals:                      71   BIC:                            -343.2
Df Model:                           6
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                  0.0050      0.003      1.541      0.128      -0.001       0.011
gt_financiamento      -0.0017      0.001     -3.253      0.002      -0.003      -0.001
gt_financiamento_1     0.0018      0.001      2.825      0.006       0.001       0.003
gt_financiamento_2     0.0006      0.001      0.965      0.338      -0.001       0.002
gt_financiamento_3    -0.0011      0.001     -1.690      0.095      -0.002       0.000
gt_financiamento_4     0.0005      0.001      0.945      0.348      -0.001       0.002
gdp_1                  0.7635      0.076     10.017      0.000       0.611       0.915
==============================================================================
Omnibus:                       11.369   Durbin-Watson:                   1.839
Prob(Omnibus):                  0.003   Jarque-Bera (JB):               34.222
Skew:                          -0.046   Prob(JB):                     3.71e-08
Kurtosis:                       6.244   Cond. No.                         324.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [11]:
target_df = pd.DataFrame({'variables':variables,
                         'pvals':pvals})
target_df['pvals'] = target_df['pvals'].round(5)
target_df.sort_values(by = ['pvals'], ascending = True)

                    variables    pvals
0                      ibc_br  0.00000
113  serv_curr_situ_index_fgv  0.00000
55             forn_app_sales  0.00000
54                  com_sales  0.00000
53                const_sales  0.00000
..                        ...      ...
92        net_debt_per_gdp_pe  0.91221
157                   gt_jobs  0.92393
86         idp_gdp_twelve_mon  0.92624
175                  gt_renda  0.99658
151                gt_science  0.99983

[194 rows x 2 columns]

In [12]:
selected = target_df.query('pvals <= 0.01')
dropped = target_df.query('pvals > 0.01')
dropped

           variables    pvals
18              ipca  0.14199
20          ipca_exi  0.04790
21         ipca_exii  0.02805
23              inpc  0.29767
24              igpm  0.01861
..               ...      ...
186        gt_seguro  0.13871
187       gt_governo  0.52500
189  gt_empreendedor  0.31785
190       gt_empresa  0.31306
191       gt_credito  0.80524

[91 rows x 2 columns]

# Tirando as variáveis não selecionadas e salvando o dataframe final

In [13]:
drop_list = list(dropped['variables'].values)
target_data = data.drop(drop_list, axis = 1).copy()
target_data.to_csv('../../../data/data_target_full_tf12.csv')
# target_data.to_excel('../../../data/data_target_gtcat_tf12.xlsx')
target_data

,gdp,ibc_br,mon_gdp,ind_prod,ind_prod_ext,ind_prod_transf,ind_cap_goods,ind_prod_int_goods,ind_prod_man,ind_prod_dur_goods,...,gt_sports,gt_crise,gt_desemprego,gt_segdesemp,gt_economia,gt_emprestimo,gt_aluguel,gt_viagem,gt_dolar,gt_financiamento
Date,,,,,,,,,,,,,,,,,,,,,
2002-01-01,NaN,2.45,29367.7,0.7,2.8,0.8,3.8,0.3,0.8,2.3,...,2.000,0.625,-0.500,0.750,-1.625,0.125,0.750,1.375,2.375,1.250
2002-02-01,NaN,2.45,29367.7,0.7,2.8,0.8,3.8,0.3,0.8,2.3,...,2.000,0.625,-0.500,0.750,-1.625,0.125,0.750,1.375,2.375,1.250
2002-03-01,NaN,2.45,29367.7,0.7,2.8,0.8,3.8,0.3,0.8,2.3,...,2.000,0.625,-0.500,0.750,-1.625,0.125,0.750,1.375,2.375,1.250
2002-04-01,NaN,2.45,29367.7,0.7,2.8,0.8,3.8,0.3,0.8,2.3,...,2.000,0.625,-0.500,0.750,-1.625,0.125,0.750,1.375,2.375,1.250
2002-05-01,NaN,2.45,29367.7,0.7,2.8,0.8,3.8,0.3,0.8,2.3,...,2.000,0.625,-0.500,0.750,-1.625,0.125,0.750,1.375,2.375,1.250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-01,NaN,5.07,101660.0,-0.3,-10.4,1.3,6.4,-2.3,2.2,-3.4,...,7.250,3.125,-1.875,-2.125,-0.375,-6.000,10.625,11.125,26.625,-3.875
2022-06-01,0.036869,4.44,102487.4,-0.6,-5.9,0.2,-0.4,-3.0,3.8,2.0,...,9.625,1.000,2.000,0.375,-1.875,-0.250,7.500,8.500,-2.375,-9.750
2022-07-01,NaN,6.44,99509.7,-0.4,-4.3,0.2,-6.6,-1.8,3.7,-0.8,...,6.500,1.875,2.125,1.625,-0.625,14.250,7.625,12.500,7.875,-7.375
2022-08-01,NaN,7.63,99856.1,1.9,-7.9,3.3,4.8,-0.7,6.5,12.9,...,3.125,3.750,5.875,3.250,4.125,7.375,2.500,9.125,13.625,-1.125
2022-09-01,0.035828,5.65,89786.4,-1.0,-7.3,-0.3,-1.4,-2.3,1.1,10.1,...,14.625,-0.250,4.125,3.000,-0.875,4.250,-5.500,0.625,6.375,-5.000

In [14]:
final_cols = list(target_data.columns)
final_cols

['gdp',
 'ibc_br',
 'mon_gdp',
 'ind_prod',
 'ind_prod_ext',
 'ind_prod_transf',
 'ind_cap_goods',
 'ind_prod_int_goods',
 'ind_prod_man',
 'ind_prod_dur_goods',
 'ind_prod_nondur_goods',
 'ind_prod_cc_materials',
 'ind_real_sales',
 'vehi_prod',
 'pass_cars_prod',
 'truck_prod',
 'bus_prod',
 'steel_prod',
 'road_flow_gross_vehi',
 'ipca_ex',
 'ipca_exiii',
 'incc_m',
 'incc_di_mo',
 'wage_mass_ind',
 'new_caged',
 'caged_agro',
 'caged_ind_ext',
 'caged_ind_transf',
 'caged_const',
 'caged_com',
 'caged_servi',
 'hrs_wkd_ind_transf',
 'unem_rate_pnad',
 'total_sales',
 'const_sales',
 'com_sales',
 'forn_app_sales',
 'fuel_sales',
 'vest_sales',
 'vehi_sales',
 'books_sales',
 'offcomm_sales',
 'others_sales',
 'vehi_total_sales_fenabrave',
 'pass_vehi_sales',
 'light_comm_vehi_sales',
 'truck_sales',
 'bus_sales',
 'vehi_total_sales_anfavea',
 'vehi_domestic_sales',
 'energy_comm',
 'energy_ind',
 'energy_total',
 'co_gas',
 'co_oilderiv_total',
 'co_alc_total',
 'ide_mon',
 'pr_central_gov',
 'mon_base',
 'mi_wkdavg',
 'mii_balance_endp',
 'credit_tot',
 'credit_enter',
 'exr_usd_mon_mean',
 'household_debt',
 'serv_conf_index_fgv',
 'serv_curr_situ_index_fgv',
 'serv_expec_index_fgv',
 'ind_eco_cond_feco',
 'emp_conf_index_fgv',
 'emp_curr_situ_index_fgv',
 'emp_expec_index_fgv',
 'ind_conf_index_fgv',
 'ind_curr_situ_index_fgv',
 'ind_expec_index_fgv',
 'nuci_gv',
 'cons_conf_index_fgv',
 'cons_curr_situ_index_fgv',
 'cons_expec_index_fgv',
 'expec_gdp',
 'expec_exr_usd',
 'exp_fob',
 'exp_kgood_fob',
 'exp_comgood_fob',
 'imp_fob',
 'imp_kgood_fob',
 'imp_comgood_fob',
 'revenue_rf',
 'gt_pets',
 'gt_travel',
 'gt_foods',
 'gt_bfit',
 'gt_home',
 'gt_law',
 'gt_sports',
 'gt_crise',
 'gt_desemprego',
 'gt_segdesemp',
 'gt_economia',
 'gt_emprestimo',
 'gt_aluguel',
 'gt_viagem',
 'gt_dolar',
 'gt_financiamento']

# Verificando os grupos de variáveis

In [18]:
series = list(target_data.columns)
n_series = np.arange(0, (target_data.shape[1]))
series_df = pd.DataFrame(n_series, index = series)

In [20]:
# Criando df para mapear grupo no dataframe de contribuição dos componentes

map_comp = meta_data[['category', 'name_df']].copy()
map_comp.set_index('name_df', inplace = True)
map_comp = map_comp.iloc[1:]

robust_data = pd.merge(series_df, map_comp, left_index=True, right_index=True)
robust_data['category'].value_counts()

Produção               19
Vendas                 17
Google Trends          16
Expectativas           15
Mercado de Trabalho    10
Setor Externo           7
Financeiras             7
Energia                 6
Preços                  4
Setor Público           2
Name: category, dtype: int64